#PBtmpl0000000000000068
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if preview.title><p><b><tmpl_var preview.title></b></p></tmpl_if>
<tmpl_unless isReply><tmpl_if preview.synopsis><p><i><tmpl_var preview.synopsis></i></p></tmpl_if></tmpl_unless>
<tmpl_if preview.content><p><tmpl_var preview.content></p></tmpl_if>

<tmpl_if isReply>
	<h1><tmpl_var message.header.label></h1>
<tmpl_else>
	<h1><tmpl_var submission.header.label></h1>
</tmpl_if>

<tmpl_var form.header>
<table class="defaultSubmissionForm">
	<tmpl_if isNewPost>
		<tmpl_if user.isVisitor>
			<tr>
				<td><tmpl_var visitorName.label></td>
				<td><tmpl_var visitorName.form></td>
			</tr>
		</tmpl_if>
	</tmpl_if>
	<tr>
		<td><tmpl_var title.label></td>
		<td><tmpl_var title.form></td>
	</tr>
	<tmpl_unless isReply>
		<tr>
			<td><tmpl_var synopsis.label></td>
			<td><tmpl_var synopsis.form></td>
		</tr>
	</tmpl_unless>
	<tr>
		<td><tmpl_var body.label></td>
		<td><tmpl_var content.form></td>
	</tr>
	<tmpl_unless isReply>
		<tmpl_if attachment.form>
			<tr>
				<td><tmpl_var attachment.label></td>
				<td><tmpl_var attachment.form></td>
			</tr>
		</tmpl_if>
	</tmpl_unless>
	<tmpl_if isNewPost>
		<tmpl_unless user.isVisitor>
			<tr>
				<td><tmpl_var subscribe.label></td>
				<td><tmpl_var subscribe.form></td>
			</tr>
		</tmpl_unless>
		<tmpl_if isNewThread>
			<tmpl_if user.isModerator>
				<tr>
					<td><tmpl_var lock.label></td>
					<td><tmpl_var lock.form></td>
				</tr>
				<tr>
					<td><tmpl_var stick.label></td>
					<td><tmpl_var sticky.form></td>
				</tr>
			</tmpl_if>
		</tmpl_if>
	</tmpl_if>
	<tr>
		<td></td>
		<td><tmpl_if usePreview><tmpl_var form.preview></tmpl_if><tmpl_var form.submit></td>
	</tr>
</table>
<tmpl_var form.footer>

<tmpl_if isReply>
	<div class="defaultSubmissionFormContent">
	<b><tmpl_var reply.title></b><br /><br />
	<tmpl_var reply.content>
	</div>
</tmpl_if>

~~~

<style type="text/css">
table.defaultSubmissionForm td
{
	font-family:arial;
	font-size:9pt;
}
.defaultSubmissionFormContent
{
	font-family:arial;
	font-size:9pt;
}
h2
{
	font-family:arial;
}

</style>