#ProjectManagerTMPL0001
<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<div class="fontSettings">
		<tmpl_var description>
	</div>
</tmpl_if>

<script type="text/javascript">
   function doDelete(url) {
      if( confirm('<tmpl_var project.delete.warning>') ) {
	     location.href=url;
	  }
   }
</script>

<table cellpadding="3" cellspacing="0" border="0" class="projectView">
   <tr>
	   <td colspan="6" style="border-style:none;text-align:left;" valign="bottom">
		   <tmpl_if canEditProjects><a href="<tmpl_var project.create>"><tmpl_var project.create.label></a><tmpl_else>&#160;</tmpl_if>
	   </td>
    </tr>

    <tr class="header">
	   <td><tmpl_var project.name.label></td>
	   <td><tmpl_var project.startDate.label></td>
	   <td><tmpl_var project.endDate.label></td>
	   <td><tmpl_var project.cost.label></td>
	   <td><tmpl_var project.complete.label></td>
	   <tmpl_if canEditProjects>
	      <td><tmpl_var project.actions.label></td>
	   </tmpl_if>
    </tr>
	<tmpl_if noProjects>
	   <tr><td class="projectNames" colspan="<tmpl_var empty.colspan>"><tmpl_var noProjects></td></tr>
	<tmpl_else>
	   <tmpl_loop project.loop>
	      <tr class="alt">
	         <td class="projectNames">
			    <a href="<tmpl_var project.view.url>"><tmpl_var project.name.data></a>
			 </td>
	         <td><tmpl_var project.startDate.data></td>
	         <td><tmpl_var project.endDate.data></td>
	         <td><tmpl_var project.cost.data.int></td>
	         <td>
		        <div class="completeContainer">
			       <div class="completeBar" style="width:<tmpl_var project.complete.data.int>%;"></div>
			       <div class="completeText"><tmpl_var project.complete.data.float>%</div>
		        </div>
	         </td>
			 <tmpl_if canEditProjects>
	            <td>
			        <!-- <a href="#"><img src="<tmpl_var extras>/add.gif" style="border-style:none;" alt="" /></a>&nbsp; -->
				   <a href="<tmpl_var project.edit.url>"><img src="<tmpl_var extras>/edit.gif" style="border-style:none;" title="<tmpl_var project.edit.title>" alt="edit" /></a>&nbsp;
				   <a href="javascript:void(doDelete('<tmpl_var project.delete.url>'));"><img src="<tmpl_var extras>/delete.gif" style="border-style:none;" title="<tmpl_var project.delete.title>" alt="delete" /></a>
			    </td>
             </tmpl_if>
		  </tr>
	   </tmpl_loop>
	</tmpl_if>
</table>

