#WikiPageEditTmpl000001
#create
#namespace:WikiPage_edit
#url:default-wiki-page-edit
#title:Default Wiki Page Edit
#menuTitle:Default Wiki Page Edit
<tmpl_var formHeader>
<table>
<tbody>
<tr><td><label for="title_formId"><tmpl_var titleLabel></label></td><td><tmpl_var formTitle></td></tr>
<tr><td><label for="content_formId"><tmpl_var contentLabel></label></td><td><tmpl_var formContent></td></tr>
<tmpl_if canAdminister>
	<tr><td><label for="isProtected_formId"><tmpl_var protectQuestionLabel></label></td><td><tmpl_var formProtect></td></tr>
</tmpl_if>
<tmpl_if allowsAttachments>
	<tr><td><label for="storageId_formId"><tmpl_var attachmentLabel></label></td><td><tmpl_var formAttachment></td></tr>
</tmpl_if>
</tbody>
</table>
<tmpl_var formSubmit>
<tmpl_var formFooter>

<tmpl_if canAdminister><tmpl_unless isNew>
	<ul>
		<li><a href="<tmpl_var deleteUrl>"><tmpl_var deleteLabel></a></li>
	</ul>
</tmpl_unless></tmpl_if>


