#WikiPageTmpl0000000001
#create
#namespace:WikiPage
#url:default-wiki-page
#title:Default Wiki Page
#menuTitle:Default Wiki Page
<tmpl_if session.var.adminOn><p><tmpl_var controls></p></tmpl_if>
<tmpl_if displayTitle><h2><tmpl_var title></h2></tmpl_if>

    <div id="wikipage" class="yui-navset">
        <ul class="yui-nav">
            <li class="selected"><a href="#wikipagecontent"><em><tmpl_var viewLabel></em></a></li>
        </ul>
        <div class="yui-content">
            <div id="wikipagecontent">
		<tmpl_var content>
            </div>
        </div>
    </div>
<script type="text/javascript">
initWikiTabs = function() {
    	var tabView = new YAHOO.widget.TabView('wikipage');
		tabView.addTab(new YAHOO.widget.Tab({
        	label: '<tmpl_var editLabel>',
        	dataSrc: '<tmpl_var editUrl>',
		cacheData: true
    	}));
    	var tabView = new YAHOO.widget.TabView('wikipage');
		tabView.addTab(new YAHOO.widget.Tab({
        	label: '<tmpl_var historyLabel>',
        	dataSrc: '<tmpl_var historyUrl>',
		cacheData: true
    	}));
};
initWikiTabs();
</script>
<div style="padding: 8px;"><a href="<tmpl_var searchUrl>"><tmpl_var searchLabel></a> | <a href="<tmpl_var recentChangesUrl>"><tmpl_var recentChangesLabel></a> | <a href="<tmpl_var wikiHomeUrl"><tmpl_var wikiHomeLabel></a></div>

~~~

<link rel="stylesheet" type="text/css" href="^Extras(yui/build/tabview/assets/tabs.css);">
<script type="text/javascript" src="^Extras(yui/build/yahoo/yahoo.js);"></script>
<script type="text/javascript" src="^Extras(yui/build/event/event.js);"></script>
<script type="text/javascript" src="^Extras(yui/build/dom/dom.js);"></script>
<script type="text/javascript" src="^Extras(yui/build/connection/connection.js);"></script>
<script type="text/javascript" src="^Extras(yui/build/tabview/tabview.js);"></script>

<style type="text/css">
#wikipage.yui-navset .yui-nav li a {
    border:1px solid #000;  /* label and content borders */
}

#wikipage.yui-navset .yui-content {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#wikipage.yui-navset .yui-nav a:hover {
    background-color:#f6f7ee; /* active tab, tab hover, and content bgcolor */
}

#wikipage.yui-navset .yui-nav .selected a {
    background-color:black; /* active tab, tab hover, and content bgcolor */
	color: white;
}

#wikipage.yui-navset-top .yui-nav .selected a {
    border-bottom:0; /* no bottom border for active tab */
    padding-bottom:1px; /* to match height of other tabs */
}

#wikipage.yui-navset-top .yui-content {
    margin-top:-1px; /* for active tab overlap */
}

#wikipage.yui-navset-bottom .yui-nav .selected a {
    border-top:0; /* no bottom border for active tab */
    padding-top:1px; /* to match height of other tabs */
}

#wikipage.yui-navset-bottom .yui-content {
    margin-bottom:-1px; /* for active tab overlap */
}

#wikipage.yui-navset-left .yui-nav li.selected a {
    border-right:0; /* no bottom border for active tab */
    padding-right:1px; /* to match height of other tabs */
}

#wikipage.yui-navset-left .yui-content {
    margin-left:-1px; /* for active tab overlap */
}

#wikipage.yui-navset-right .yui-nav li.selected a {
    border-left:0; /* no bottom border for active tab */
    padding-left:1px; /* to match height of other tabs */
}

#wikipage.yui-navset-right .yui-content {
    margin-right:-1px; /* for active tab overlap */
    *margin-right:0; /* except IE */
}

#wikipage .yui-content {
    padding-top:1em; 
    padding-bottom:1em; 
}
#wikipage .loading {
    background-image:url(^Extras(yui/build/tabview/img/loading.gif););
    background-position:center center;
    background-repeat:no-repeat;
}

#wikipage .loading * {
    display:none;
}
</style>



