#WikiSearchTmpl00000001
#create
#namespace:WikiMaster_search
#url:default-wiki-search
#title:Default Wiki Search
#menuTitle:Default Wiki Search
<tmpl_if displayTitle><h2><tmpl_var searchLabel></h2></tmpl_if>


<tmpl_var searchFormHeader><tmpl_var searchQuery><tmpl_var searchSubmit><tmpl_var searchFormFooter>
<tmpl_if performSearch>
	<h3><tmpl_var resultsLabel></h3>
	<tmpl_if searchResults>
		<ul><tmpl_loop searchResults><li><a href="<tmpl_var url>"><tmpl_var title></a></li></tmpl_loop></ul>
		<tmpl_if pagination.pageCount.isMultiple>
		<div class="pagination">
			<tmpl_var pagination.previousPage> &#183; <tmpl_var pagination.pageList.upTo10> &#183; <tmpl_var pagination.nextPage>
		</div>
		</tmpl_if>
	<p><tmpl_var notWhatYouWanted></p>
		<p><a href="<tmpl_var addPageUrl>"><tmpl_var addPageLabel></a></p>
	<tmpl_else>
		<p><tmpl_var nothingFoundLabel></p>
		<p><a href="<tmpl_var addPageUrl>"><tmpl_var addPageLabel></a></p>
	</tmpl_if>
</tmpl_if>
<div style="padding: 8px;"><a href="<tmpl_var mostPopularUrl>"><tmpl_var mostPopularLabel></a> | <a href="<tmpl_var recentChangesUrl>"><tmpl_var recentChangesLabel></a> | <a href="<tmpl_var wikiHomeUrl>"><tmpl_var wikiHomeLabel></a></div>

