#PBtmpl0000000000000014
#namespace:Auth/WebGUI/Recovery2
<h2><tmpl_var title></h2>

<tmpl_if recoverMessage><tmpl_var recoverMessage></tmpl_if>

<tmpl_var recoverFormHeader>
<tmpl_var recoverFormHidden>
<table>
<tmpl_if doingRecovery>
<tr>
	<td class="formDescription" valign="top"><tmpl_var recoverFormPasswordLabel></td>
	<td class="tableData"><tmpl_var recoverFormPassword></td>
</tr>
<tr>
	<td class="formDescription" valign="top"><tmpl_var recoverFormPasswordConfirmLabel></td>
	<td class="tableData"><tmpl_var recoverFormPasswordConfirm></td>
</tr>
<tmpl_else>
<tmpl_if recoverFormUsername>
<tr>
	<td class="formDescription" valign="top"><tmpl_var recoverFormUsernameLabel></td>
	<td class="tableData"><tmpl_var recoverFormUsername></td>
</tr>
</tmpl_if>
<tmpl_loop recoverFormProfile>
<tr>
	<td class="formDescription" valign="top"><tmpl_var label></td>
	<td class="tableData"><tmpl_var formElement></td>
</tr>
</tmpl_loop>
</tmpl_if>
<tr>
	<td class="formDescription" valign="top"></td>
	<td class="tableData"><tmpl_var recoverFormSubmit></td>
</tr>
</table>
<tmpl_var recoverFormFooter>

<div class="accountOptions">
	<ul>
		<tmpl_if anonymousRegistrationIsAllowed>
			<li><a href="<tmpl_var createAccountUrl>"><tmpl_var createAccountLabel></a></li>
		</tmpl_if>
		<li><a href="<tmpl_var loginUrl>"><tmpl_var loginLabel></a></li>
      	</ul>
</div>
