#WikiMPTmpl000000000001
#create
#namespace:WikiMaster_mostPopular
#url:default-wiki-most-popular
#title:Default Most Popular
#menuTitle:Default Most Popular
<h2><tmpl_var title></h2>

<ol><tmpl_loop mostPopular>
<li><a href="<tmpl_var url>"><tmpl_var title></a></li>
</tmpl_loop></ol>

<div style="padding: 8px;"><a href="<tmpl_var searchUrl>"><tmpl_var searchLabel></a> | <a href="<tmpl_var recentChangesUrl>"><tmpl_var recentChangesLabel></a> | <a href="<tmpl_var wikiHomeUrl>"><tmpl_var wikiHomeLabel></a></div>

