#WikiFrontTmpl000000001
#create
#namespace:WikiMaster_front
#url:default-wiki-front-page
#title:Default Wiki Front Page
#menuTitle:Default Wiki Front Page

<tmpl_if session.var.adminOn><p><tmpl_var controls></p></tmpl_if>
<tmpl_if displayTitle><h2><tmpl_var title></h2></tmpl_if>

<tmpl_var description>
<h3><tmpl_var searchLabel></h3>
<tmpl_var searchFormHeader><tmpl_var searchQuery><tmpl_var searchSubmit><tmpl_var searchFormFooter>
<br />

<div style="float: left; width: 50%;">
	<h3><a href="<tmpl_var recentChangesUrl>"><tmpl_var recentChangesLabel></a></h3>
	<ul><tmpl_loop recentChanges>
		<li><a href="<tmpl_var url>"><tmpl_var title></a></li>
	</tmpl_loop></ul>
</div>
<div style="float: left;">
	<h3><a href="<tmpl_var mostPopularUrl>"><tmpl_var mostPopularLabel></a></h3>
	<ol><tmpl_loop mostPopular>
		<li><a href="<tmpl_var url>"><tmpl_var title></a></li>
	</tmpl_loop></ol>

</div>
<div style="clear: both;"></div>
