#WikiRCTmpl000000000001
#create
#namespace:WikiMaster_recentChanges
#url:default-wiki-recent-changes
#title:Default Recent Changes
#menuTitle:Default Recent Changes
<h2><tmpl_var title></h2>

<ul><tmpl_loop recentChanges>
<li><a href="<tmpl_var url>"><tmpl_var title></a> <tmpl_var actionTaken> on <tmpl_var date> by <tmpl_var username></li>
</tmpl_loop></ul>

<div style="padding: 8px;"><a href="<tmpl_var searchUrl>"><tmpl_var searchLabel></a> | <a href="<tmpl_var mostPopularUrl>"><tmpl_var mostPopularLabel></a> | <a href="<tmpl_var wikiHomeUrl>"><tmpl_var wikiHomeLabel></a></div>

