#WikiPLTmpl000000000001
#create
#namespace:WikiMaster_pageList
#url:default-wiki-page-list
#title:Default Page List
#menuTitle:Default Page List

<h2><tmpl_var pl.title></h2>
<ul>
<tmpl_loop pl.entries>
<li><a href="<tmpl_var viewLatest>"><tmpl_var title></a></li>
</tmpl_loop>
</ul>
