
.adminConsoleTitleIcon {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 48px;
	height: 48px;
	text-align: center;
}

.adminConsoleTitle {
	position: absolute;
	top: 0px;
	left: 85px;
	font-size: 50px;
	text-align: left;
}

.adminConsoleWorkArea {
 	border: 1px solid #ddd;
	margin: 65px 200px 50px 10px;
	padding: 5px;
	-moz-border-radius: 10px;
}
/* Hides from non-ie: the holly hack \*/
* html .adminConsoleWorkArea {
	zoom: 1.00;
	display: inline;
	}
/* End hide from non-ie */


.adminConsoleMenu {
	position: absolute;
	top: 65px;
	right: 10px;
	width: 180px;
/* 	border: 1px solid #ddd; 
	padding: 5px; */
	font-family: helvetica, arial;
	font-size: 12px;
}

.adminConsoleMainMenu {
 	border: 1px solid #ddd;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 10px;
}

.adminConsoleSubmenu {
 	border: 1px solid #ddd;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 10px;
}

.adminConsoleUtilityMenu {
 	border: 1px solid #ddd;
	padding: 5px;
	margin: 5px;
	-moz-border-radius: 10px;
}

.adminConsoleHidden {
	display: none;
	height: 0px;
}

.adminConsoleApplication {
	float: left;
	text-align: center;
	width: 100px;
	font-size: 14px;
	font-family: helvetica, arial;
	opacity: 0.7; 
	height: 110px;
}

.adminConsoleApplication:hover {
	opacity: 1.0;
}

.adminConsoleSpacer {
	clear: both;
}

.adminConsoleToggle {
	display: block;
}

.adminConsoleHelpIcon {
	position: absolute;
	top: 60px;
	right: 200px;
	z-index: 100;
}
