#PBtmpl0000000000000047
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
	<p />
</tmpl_if>

<tmpl_if session.var.adminOn>
	<a href="<tmpl_var forum.add.url>"><tmpl_var forum.add.label></a>
	<p />
</tmpl_if>

<tmpl_if areMultipleForums>
	<table width="100%" cellpadding="3" cellspacing="0" class="defaultMessageBoard">
		<tr>
			<tmpl_if session.var.adminOn>
				<td></td>
			</tmpl_if>
			<td class="tableHeader"><tmpl_var title.label></td>
			<td class="tableHeader"><tmpl_var views.label></td>
			<td class="tableHeader"><tmpl_var rating.label></td>
			<td class="tableHeader"><tmpl_var threads.label></td>
			<td class="tableHeader"><tmpl_var replies.label></td>
			<td class="tableHeader"><tmpl_var lastpost.label></td>
		</tr>
		<tmpl_loop forum_loop>			
			<tr>
				<tmpl_if session.var.adminOn>
					<td><tmpl_var forum.controls></td>
				</tmpl_if>
				<td<tmpl_if __ODD__> class="even"</tmpl_if>>
					<a href="<tmpl_var forum.url>"><tmpl_var forum.title></a><br />
					<span style="font-size: 10px;"><tmpl_var forum.description></span>
				</td>
				<td<tmpl_if __ODD__> class="even"</tmpl_if> align="center"><tmpl_var forum.views></td>
				<td<tmpl_if __ODD__> class="even"</tmpl_if> align="center"><tmpl_var forum.rating></td>
				<td<tmpl_if __ODD__> class="even"</tmpl_if> align="center"><tmpl_var forum.threads></td>
				<td<tmpl_if __ODD__> class="even"</tmpl_if> align="center"><tmpl_var forum.replies></td>
				<td<tmpl_if __ODD__> class="even"</tmpl_if>><span style="font-size: 10px;">
					<a href="<tmpl_var forum.lastpost.url>"><tmpl_var forum.lastpost.subject></a>
					by
					<tmpl_if forum.lastpost.user.isVisitor>
						<tmpl_var forum.lastpost.user.name>
					<tmpl_else>
						<a href="<tmpl_var forum.lastpost.user.profile>"><tmpl_var forum.lastpost.user.name></a>
					</tmpl_if>
					on <tmpl_var forum.lastpost.date> @ <tmpl_var forum.lastpost.time>
				</span></td>
			</tr>
		</tmpl_loop>
	</table>
<tmpl_else>
	<h2><tmpl_var default.title></h2>
	<tmpl_if session.var.adminOn>
		<tmpl_var default.controls><br />
	</tmpl_if>
	<tmpl_var default.description>
	<p />
	<tmpl_var default.listing>
</tmpl_if>


~~~
<style type="text/css">
.defaultMessageBoard {

}
.defaultMessageBoard .tableHeader{
	font-weight:bold;
	border-bottom:solid gray 3px;
	text-align:center;
}
.defaultMessageBoard td {
	font-family:arial;
	font-size:9pt;
	border-bottom:solid gray 1px;
}
.defaultMessageBoard td a {
	color:#29587E;
}
.defaultMessageBoard td.even {
	background-color:#DADADA;
	border-bottom:solid gray 1px;
}
h2 {
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}
</style>