#PBtmpl0000000000000019
<table border="0">
<tmpl_loop purchaseHistoryLoop>
	<tr>
		<td><b><tmpl_var initDate></b></td>
		<td><b><tmpl_var completionDate></b></td>
		<td align="right"><b>$ <tmpl_var amount></b></td>
		<td><b><tmpl_var status></b></td>
		<td><tmpl_if canCancel><a href="<tmpl_var cancelUrl>">Cancel</a></tmpl_if></td>
	</tr>
	<tmpl_loop itemLoop>
	<tr>
		<td "align=right"><tmpl_var quantity> x </td>
		<td "align=left"><tmpl_var itemName></td>
		<td "align=right">$ <tmpl_var amount></td>
	</tr>
	</tmpl_loop>
</tmpl_loop>
</table>