#PBtmpl0000000000000116
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if error_loop>
	<ul class="fontSettings">
		<tmpl_loop error_loop>
			<li><b><tmpl_var error.message></b></li>
		</tmpl_loop>
	</ul>
</tmpl_if>

<tmpl_if description>
	<div class="fontSettings">
		<tmpl_var description>
	</div>
</tmpl_if>

<tmpl_if canEdit>
	<div class="dataControls">
		<a href="<tmpl_var entryList.url>"><tmpl_var entryList.label></a>
			&bull; <a href="<tmpl_var export.tab.url>"><tmpl_var export.tab.label></a>
		<tmpl_if entryId>
			&bull; <a href="<tmpl_var delete.url>"><tmpl_var delete.label></a>
		</tmpl_if>
		<tmpl_if session.var.adminOn>
			&bull; <a href="<tmpl_var addField.url>"><tmpl_var addField.label></a>
			&bull; <a href="<tmpl_var addTab.url>"><tmpl_var addTab.label></a>
		</tmpl_if>
	</div>
</tmpl_if>
<tmpl_var form.start>

<div class="tabs">
	<tmpl_loop tab_loop>
		<span onclick="toggleTab(<tmpl_var tab.sequence>)" id="tab<tmpl_var tab.sequence>" class="tab"><tmpl_var tab.label>
		<tmpl_if session.var.adminOn>
			<tmpl_if canEdit>
				<tmpl_var tab.controls>
			</tmpl_if>
		</tmpl_if>
		</span>
	</tmpl_loop>
</div>
<tmpl_loop tab_loop>
	<tmpl_var tab.start>
		<table class="tabForm">
			<tmpl_loop tab.field_loop>
				<tmpl_unless tab.field.isHidden>
						<tr>
							<td class="formDescription" valign="top">
								<tmpl_if session.var.adminOn>
									<tmpl_if canEdit>
										<tmpl_var tab.field.controls>
									</tmpl_if>
								</tmpl_if>
								<tmpl_var tab.field.label>
							</td>
							<td class="tableData" valign="top">
								<tmpl_if tab.field.isDisplayed>
									<tmpl_var tab.field.value>
								<tmpl_else>
									<tmpl_var tab.field.form>
								</tmpl_if>
								<tmpl_if tab.field.isRequired>*</tmpl_if>
								<span class="formSubtext">
									<br />
									<tmpl_var tab.field.subtext>
								</span>
							</td>
						</tr>
				</tmpl_unless>
			</tmpl_loop>
			<tr>
				<td colspan="2">
					<span class="tabSubtext"><tmpl_var tab.subtext></span>
				</td>
			</tr>
		</table>
		<br />
		<tmpl_var form.save>
	<tmpl_var tab.end>
</tmpl_loop>
<tmpl_var tab.init>
<tmpl_var form.end>


~~~
<style type="text/css">
h2{
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}
.fontSettings{
	font-family:arial;
	font-size:9pt;
}
.tabForm td{
	font-family:arial;
	font-size:9pt;
}
.dataControls
{
	-moz-box-sizing:border-box;
	background:#C0C0C0;
	width:100%;
	text-align:right;
	padding:3px;
	font-size:9pt;
	font-family:arial;
	margin-bottom:5px;
}

.dataControls a
{
	color:white;
}
</style>