#PBnav00000000indentnav
#title:Indent Nav
#menuTitle:Indent Nav
#url:indent_nav
<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>			
		
<tmpl_if description>
	<p><tmpl_var description></p>
</tmpl_if>
		
<tmpl_if session.var.adminOn>
	<tmpl_var controls>
</tmpl_if>		
		
<div class="mainNav">
	<tmpl_loop page_loop>	
		<div class="level<tmpl_var page.relDepth>">
			<a <tmpl_if page.isCurrent> class="navOn"</tmpl_if><tmpl_if page.isAncestor> class="anAncestor" </tmpl_if><tmpl_if page.newWindow>onclick="window.open('<tmpl_var page.url>')" href="#" <tmpl_else>href="<tmpl_var page.url>"</tmpl_if>><tmpl_var page.menuTitle></a>
		</div>		
	</tmpl_loop>
</div>
~~~
<style type="text/css">
.mainNav {

}
.mainNav a {
	
}
a.navOn {
	
}
a.anAncestor {

}
div.level0 a {
	margin-left:0px;
	display:block;
}
div.level1 a {
	margin-left:15px;
	display:block;	
}
div.level2 a {
	margin-left:30px;
	display:block;
}
div.level3 a {
	margin-left:45px;
	display:block;
}
div.level4 a {
	margin-left:60px;
	display:block;
}
</style>