#StockDataTMPL000000001
<a name="<tmpl_var assetId>"></a> 
 
<tmpl_if session.var.adminOn> 
   <p><tmpl_var controls></p> 
</tmpl_if>

<tmpl_if displayTitle>
    <h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
    <tmpl_var description><p />
</tmpl_if>

<table cellpadding="0" cellspacing="0" border="0" class="qmmt_main" width="100%">
   <tr>
      <td colspan="3" style="text-align: left">  
	     <div class="qmmt_header_bar" style="padding-top: 1px; padding-bottom: 1px; border-bottom-width: 1px;">
		    <table cellpadding="0" cellspacing="0" border="0" width="100%">   
			  <tr>
			     <td class="qmmt_header_text">Stock Watch</td>
				 <td class="qmmt_header_text" style="text-align: right; padding-right: 3px; font-weight: normal;">
				    <div id="qm_textChange_7310">
					   <span class="qmmt_header_text" style="font-weight:normal;"><b>Last Update: </b> <tmpl_var lastUpdate.default> EDT</span></div>
					      <script type="text/javascript">
						     function qm_UpdateText_7310(phase){    
							   switch (phase)    {        
							      case 1: document.getElementById('qm_textChange_7310').innerHTML = '<span class="qmmt_header_text" style="font-weight:normal;">delayed 20 minutes</span>'; 
                                   setTimeout("qm_UpdateText_7310(2)", 5000); 
								   break;        
								  case 2: document.getElementById('qm_textChange_7310').innerHTML = '<span class="qmmt_header_text" style="font-weight:normal;"><b>Last Update:&nbsp;</b> <tmpl_var lastUpdate.default> EDT</span>'; 
                                   setTimeout("qm_UpdateText_7310(3)", 5000); 
								   break;        
								  case 3: document.getElementById('qm_textChange_7310').innerHTML = '<a href="http://www.quotemedia.com/" style="text-decoration:none;"><span class="qmmt_header_text" style="font-weight:normal;">Yahoo Finance</span></a>';
                                   setTimeout("qm_UpdateText_7310(1)", 5000); 
								   break;        
								}        
							 }
							 qm_UpdateText_7310(2);
						 </script> 
    
				  </td>       
				</tr>  
		     </table>  
	      </div>  
	   </td> 
	</tr>  
	<tr>  
	   <td>       
	      <script type="text/javascript"> 
		     function openDetail_2961(symbol) {     
			    var w = 670;   
				var h = 286;   
				var winl = (screen.width - w) / 2;   
				var wint = (screen.height - h) / 2;   
			    var winprops ='height='+h+',width='+w+',top='+wint+',left='+winl+',toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=1';   
				win = window.open("<tmpl_var stock.display.url>" + escape(symbol), "DetailedQuote", winprops);
				if (parseInt(navigator.appVersion) >= 4) {       
				   win.window.focus();   
				}   
		      }
		   </script>    
		   <table cellpadding="0" cellspacing="0" style="padding: 2px;" width="100%">   
		      <tr class="qmmt_main">
			     <td class="qmmt_text" style="font-weight: bold; text-align: left; padding-left: 3px;white-space:nowrap;"> Name </td>        
				 <td class="qmmt_text" style="font-weight: bold; text-align: left; padding-left: 3px; white-space:nowrap;width:8%;">Symbol</td>    
				 <td class="qmmt_text" style="font-weight: bold; text-align: right; white-space:nowrap;width:9%;">Last</td>
				 <td class="qmmt_text" style="font-weight: bold; text-align: center; white-space:nowrap;width:4%">Tick</td>        
				 <td class="qmmt_text" style="font-weight: bold; text-align: right; white-space:nowrap; width:7%;">Chg</td>         
	          </tr>
			  <tmpl_loop stocks.loop>
			     <tr class='<tmpl_if __ODD__>qmmt_cycle<tmpl_else>qmmt_main</tmpl_if>'>            
			        <td class="qmmt_text" style="padding-left: 3px;white-space:nowrap;"><tmpl_var stocks.name></td>
				    <td class="qmmt_text" style="text-align: left; padding-left: 3px;white-space:nowrap;">
				       <a class="qmmt" style="text-decoration: none;" href="javascript:openDetail_2961('<tmpl_var stocks.symbol>')"><tmpl_var stocks.symbol></a>
			        </td>        
				    <td class="qmmt_text" style="text-align: right;white-space:nowrap;"><tmpl_var stocks.last></td>
				    <td class="qmmt_text" style="text-align: center;white-space:nowrap;" align="right">
					   <img src="<tmpl_var extrasFolder>/<tmpl_var stocks.net.icon>" alt="" />            
				    </td>
				    <td class="qmmt_text<tmpl_if stocks.net.isUp>_up<tmpl_else><tmpl_if stocks.net.isDown>_down</tmpl_if></tmpl_if>" style="text-align: right;whitespace:nowrap;"><tmpl_var stocks.net></td>
			     </tr>          
			  </tmpl_loop>  
			</table>      
	     </td> 
	  </tr>
  </table>
~~~
<link rel="stylesheet" type="text/css" href="<tmpl_var extrasFolder>/tools.css" />
