#PBtmpl0000000000000024
<tmpl_if session.var.adminOn><tmpl_if controls><p><tmpl_var controls></p></tmpl_if></tmpl_if><a href="<tmpl_var fileUrl>"><img src="<tmpl_var fileIcon>" alt="<tmpl_var title>" style="border-style:none;" /><tmpl_var filename></a>