#PBtmpl0000000000000023
<h2><tmpl_var title></h2>

<table width="100%" cellspacing="0" cellpadding="5" border="0">
<tr>
<td valign="top" class="tableHeader" width="100%">
<b><tmpl_var start.label>:</b> <tmpl_var start.date><br />
<b><tmpl_var end.label>:</b> <tmpl_var end.date><br />
</td><td valign="top" class="tableMenu">

<tmpl_if canEdit>
     <a href="<tmpl_var edit.url>"><tmpl_var edit.label></a><br />
     <a href="<tmpl_var delete.url>"><tmpl_var delete.label></a>
</tmpl_if>

<tmpl_if previous.url>
     <a href="<tmpl_var previous.url>"><tmpl_var previous.label></a><br />
</tmpl_if>

<tmpl_if next.url>
     <a href="<tmpl_var next.url>"><tmpl_var next.label></a><br />
</tmpl_if>

</td></tr>
<tr>
	<td colspan="2" valign="top" align="left"><tmpl_var description></td>
</tr>
</table>


<tmpl_loop others_loop>
<tmpl_if __FIRST__>
<p /><b>Events Near This One</b><br />
</tmpl_if>
<ul>
<li><a href="<tmpl_var url>"><tmpl_var title></a></li>
</ul>
</tmpl_loop>


~~~
<style type="text/css">
.fontSettings {
	font-family:arial;
	font-size:9pt;
}
h2 {
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}
.defaultEvent td {	
	font-family:arial;
	font-size:9pt;	
}
.tableMenu {
	border:solid silver 1px;		
}
.tableMenu a {
	color:#29587E;
}

</style>