#PBtmpl0000000000000069
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<h2><tmpl_var title></h2>

<tmpl_if description>
	<tmpl_var description><br /><br />
</tmpl_if>

<tmpl_if results>
	<tmpl_loop results>
		The current temp is: <tmpl_var result>
	</tmpl_loop>
<tmpl_else>
	Failed to retrieve temp.
</tmpl_if>
