#PBtmpl0000000000000109
<div><a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a></div>

<tmpl_if showAdmin>
<p><tmpl_var controls></p>
</tmpl_if>


<tmpl_if displayTitle>
  <h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
  <p><tmpl_var description></p>
</tmpl_if>

<!-- begin position 1 -->
<div class="layoutColumnPadding">
<tmpl_if showAdmin>
	<table border="0" id="position1" class="content"><tbody>
</tmpl_if>

<tmpl_loop position1_loop>
	<tmpl_if showAdmin>
            	<tr id="td<tmpl_var id>">
            		<td><div id="td<tmpl_var id>_div" class="dragable">
	</tmpl_if>

	<div class="content"><tmpl_var dragger.icon><tmpl_var content></div>

	<tmpl_if showAdmin>
         			</div></td>
            	</tr>
	</tmpl_if>
</tmpl_loop>

<tmpl_if showAdmin>
            </tbody></table>
</tmpl_if>
</div>
<!-- end position 1 -->

<div class="endFloat">&nbsp;</div>

<!-- begin position 2 -->
<div class="firstColumn"><div class="layoutColumnPadding">
<tmpl_if showAdmin>
	<table border="0" id="position2" class="content"><tbody>
</tmpl_if>

<tmpl_loop position2_loop>
	<tmpl_if showAdmin>
            	<tr id="td<tmpl_var id>">
            		<td><div id="td<tmpl_var id>_div" class="dragable">
	</tmpl_if>

	<div class="content"><tmpl_var dragger.icon><tmpl_var content></div>

	<tmpl_if showAdmin>
         			</div></td>
            	</tr>
	</tmpl_if>
</tmpl_loop>

<tmpl_if showAdmin>
            </tbody></table>
</tmpl_if>
</div></div>
<!-- end position 2 -->

<!-- begin position 3 -->
<div class="secondColumn"><div class="layoutColumnPadding">
<tmpl_if showAdmin>
	<table border="0" id="position3" class="content"><tbody>
</tmpl_if>

<tmpl_loop position3_loop>
	<tmpl_if showAdmin>
            	<tr id="td<tmpl_var id>">
            		<td><div id="td<tmpl_var id>_div" class="dragable">
	</tmpl_if>

	<div class="content"><tmpl_var dragger.icon><tmpl_var content></div>

	<tmpl_if showAdmin>
         			</div></td>
            	</tr>
	</tmpl_if>
</tmpl_loop>

<tmpl_if showAdmin>
            </tbody></table>
</tmpl_if>
</div></div>
<!-- end position 3 -->

<!-- begin position 4 -->
<div class="secondColumn"><div class="layoutColumnPadding">
<tmpl_if showAdmin>
	<table border="0" id="position4" class="content"><tbody>
</tmpl_if>

<tmpl_loop position4_loop>
	<tmpl_if showAdmin>
            	<tr id="td<tmpl_var id>">
            		<td><div id="td<tmpl_var id>_div" class="dragable">
	</tmpl_if>

	<div class="content"><tmpl_var dragger.icon><tmpl_var content></div>

	<tmpl_if showAdmin>
         			</div></td>
            	</tr>
	</tmpl_if>
</tmpl_loop>

<tmpl_if showAdmin>
            </tbody></table>
</tmpl_if>
</div></div>
<!-- end position 4 -->

<div class="endFloat">&nbsp;</div>

<tmpl_if showAdmin>
	<table><tr id="blank" class="hidden"><td><div><div class="empty">&nbsp;</div></div></td></tr></table>
            <tmpl_var dragger.init>
</tmpl_if>

~~~
<style type="text/css">
.firstColumn {
  float: left;
  width: 33%;
}
.secondColumn {
        float: left;
        width: 33%;
}
.thirdColumn {
        float: left;
        width: auto;
        max-width: 33%;
}
.endFloat {
 clear: both;
}
</style>

