#PBtmplBlankStyle000001
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>^Page(title); - <tmpl_var session.setting.companyName></title>
	<link rel="icon" href="^Extras(favicon.png);" type="image/png" />
	<link rel="shortcut icon" href="^Extras(favicon.ico);" />
	<tmpl_var head.tags>
<style type="text/css">
body {
	margin: 0;
	padding: 0;
}
</style>
</head>
<body>
^AdminBar("PBtmpl0000000000000090");
<tmpl_var body.content>

<p>
^AdminToggle();
</p>
</body>
</html>
