#PBtmpl0000000000000097
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<tmpl_var controls>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
</tmpl_if>

<p class="pagination">
	<tmpl_if user.canPost>
		<a href="<tmpl_var add.url>"><tmpl_var add.label></a>
		&bull;
	</tmpl_if>
	<tmpl_unless user.isVisitor>
		<tmpl_if user.isSubscribed>
			<a href="<tmpl_var unsubscribe.url>"><tmpl_var unsubscribe.label></a>
		<tmpl_else>
			<a href="<tmpl_var subscribe.url>"><tmpl_var subscribe.label></a>
		</tmpl_if>
		&bull;
	</tmpl_unless>
	<a href="<tmpl_var search.url>"><tmpl_var search.label></a>
</p>

<table width="100%">
<tr>
	<tmpl_if user.isModerator>
		<td class="forumHead"><tmpl_var status.label></td>
	</tmpl_if>
	<td class="forumHead"><a href="<tmpl_var sortby.title.url>"><tmpl_var title.label></a></td>
	<td class="forumHead"><tmpl_var thumbnail.label></td>
	<td class="forumHead"><a href="<tmpl_var sortby.date.url>"><tmpl_var date.label></a></td>
	<td class="forumHead"><a href="<tmpl_var sortby.username.url>"><tmpl_var by.label></a></td>
</tr>
<tmpl_loop post_loop>
	<tr>
		<tmpl_if user.isModerator>
			<td class="<tmpl_if __ODD__>oddThread<tmpl_else>evenThread</tmpl_if>"><tmpl_var status></td>
		</tmpl_if>
		<td class="<tmpl_if __ODD__>oddThread<tmpl_else>evenThread</tmpl_if>"><a href="<tmpl_var url>"><tmpl_var title></a><tmpl_if user.isPoster> (<tmpl_var status>)</tmpl_if></td>
		<td class="<tmpl_if __ODD__>oddThread<tmpl_else>evenThread</tmpl_if>" style="text-align: center;">
			<tmpl_if thumbnail>
				 <a href="<tmpl_var url>"><img src="<tmpl_var thumbnail>" border="0" alt="<tmpl_var title>" /></a>
			<tmpl_else>
				 &nbsp;
			</tmpl_if>
		</td>
		<td class="<tmpl_if __ODD__>oddThread<tmpl_else>evenThread</tmpl_if>"><tmpl_var dateUpdated.human></td>
		<tmpl_if user.isVisitor>
			<td class="<tmpl_if __ODD__>oddThread<tmpl_else>evenThread</tmpl_if>"><tmpl_var username></td>
		<tmpl_else>
			<td class="<tmpl_if __ODD__>oddThread<tmpl_else>evenThread</tmpl_if>"><a href="<tmpl_var userProfile.url>"><tmpl_var username></a></td>
		</tmpl_if>
	</tr>
</tmpl_loop>
</table>

<tmpl_if pagination.pageCount.isMultiple>
	<br />
	<div class="pagination">
		<tmpl_var pagination.previousPage> &middot; <tmpl_var pagination.pageList.upTo10> &middot; <tmpl_var pagination.nextPage>
	</div>
</tmpl_if>


~~~
<style type="text/css">
.forumHead {
	background-color: #DADADA;
	border: 2px solid #cccccc;
	padding: 2px;
	padding-bottom: 4px;
	font-size: 13px;
	font-weight: bold;
	font-family:arial;
}

.oddThread {
	font-size: 13px;
	border-bottom: 1px dashed #83cc83;
	padding-bottom: 4px;	
	font-family:arial;
}

.forumHead a
{
	color:#29587E;
}

.oddThread a
{
	color:#29587E;
}

.evenThread a
{
	color:#29587E;
}

.evenThread {
	font-size: 13px;
	border-bottom: 1px dashed #aaaaff;
	padding-bottom: 4px;
	background-color:#EEEEEE;
	font-family:arial;
}

.pagination
{
	-moz-box-sizing:border-box;
	background:#C0C0C0;
	width:100%;
	text-align:right;
	padding:3px;
	font-size:9pt;
	font-family:arial;
}

.pagination a
{
	color:white;
}

h2
{
	font-family:arial;
}
</style>