#PBtmpl0000000000000136
		<tmpl_if displayTitle>
		<h2><tmpl_var title></h2>
		</tmpl_if>
		<tmpl_if description>
			<p><tmpl_var description></p>
		</tmpl_if>
		<tmpl_if session.var.adminOn>
<tmpl_var controls>
</tmpl_if>
<div class="synopsis">
<tmpl_loop page_loop>
   <div class="synopsis_title">
      <a href="<tmpl_var page.url>"><tmpl_var page.menuTitle></a>
   </div>
   <tmpl_if page.indent>
      <div class="synopsis_sub">
         <tmpl_var page.synopsis>
      </div>
   <tmpl_else>
      <div class="synopsis_summary">
         <tmpl_var page.synopsis>
      </div>
   </tmpl_if>
</tmpl_loop>
</div>