#CalendarPrintWeek00001
#create
#namespace:Calendar/Print/Week
#url:default-calendar-print-week
#title:Default Calendar Print Week
#menuTitle:Default Calendar Print Week
<div class="calHeader">
	<tmpl_var startMonthName> <tmpl_var startDayOfMonth> <tmpl_var startYear>&nbsp;&nbsp;-&nbsp;&nbsp;<tmpl_var endMonthName> <tmpl_var endDayOfMonth> <tmpl_var endYear>
</div>

<table cellspacing="0" cellpadding="4" id="printableCal" border="0">
<tmpl_loop days><tmpl_if events>
<tr>
	<td class="label"><tmpl_var monthName> <tmpl_var dayOfMonth></td>
	<td>
		<ul>
			<tmpl_loop events><li><tmpl_var eventTitle></li>
			</tmpl_loop>
		</ul>
	</td>
</tr>
</tmpl_if></tmpl_loop>
</table>

<div class="calFooter">
	&copy; Plain Black 2006
</div>
~~~
	<style type="text/css">
	.calHeader {
		font-size:22px;
		font-weight:bold;
		text-align:right;		
		border-bottom:double #666 3px;
		width:65%;
		font-family:arial;
	}	
	#printableCal {
		font-family:arial;
		font-size:13px;
		width:65%;
		border:solid #aaa 1px;
		border-top-style:none;
	}
	#printableCal .label {
		font-weight:bold;
		font-size:13px;
		vertical-align:top;
		width:15%;
	}
	#printableCal ul {
		margin:0px;
		padding:0px;
		padding-left:16px;
	}
	#printableCal .alt {
		background-color:#eee;
	}
	.calFooter {
		width:65%;
		text-align:center;
		font-size:10px;
		font-family:arial;
	}
	</style>
