#PBtmpl0000000000000027
<table border="0" cellpadding="3" cellspacing="2">
<tbody>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td bgcolor="black" style="background-color:black;"><font color="white"><b style="color:white;"><tmpl_var username> has posted to one of your subscriptions</b></font></td>
</tr>
<tr>
	<td bgcolor="#DFDFDF" style="background-color:#DFDFDF;"><a href="<tmpl_var url>"><font color="black"><tmpl_var url></a></td>
</tr>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var content></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tmpl_if userDefined1>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined1></td>
</tr>
</tmpl_if>
<tmpl_if userDefined2>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined2></td>
</tr>
</tmpl_if>
<tmpl_if userDefined3>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined3></td>
</tr>
</tmpl_if>
<tmpl_if userDefined4>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined4></td>
</tr>
</tmpl_if>
<tmpl_if userDefined5>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined5></td>
</tr>
</tmpl_if>
</tbody>
</table>