#PBtmpl0000000000000090
<script type="text/javascript">
//<![CDATA[
	var slider = new createSlidePanelBar("WebGUIAdminBar");
	var panel;
	<tmpl_loop adminbar_loop>
		panel = new createPanel("<tmpl_var name>", "<tmpl_var label>");
		<tmpl_loop items>
			panel.addLink("<tmpl_var icon.small>", "<tmpl_var title escape=JS>", "<tmpl_var url escape=JS>");
		</tmpl_loop>
		slider.addPanel(panel);
	</tmpl_loop>
	slider.draw();

//]]>
</script>
~~~
<script src="^Extras;slidePanel/slidePanel.js" type="text/javascript"></script>
<link href="^Extras;slidePanel/slidePanel.css" rel="stylesheet" type="text/css" />
