#PBtmpl0000000000000121
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a><tmpl_if session.var.adminOn>	<p><tmpl_var controls></p></tmpl_if><tmpl_if displayTitle>	<h2><tmpl_var title></h2></tmpl_if><tmpl_if description>	<tmpl_var description></tmpl_if><p>	<tmpl_if user.canPost>		<a href="<tmpl_var add.url>"><tmpl_var add.label></a>		&#149;	</tmpl_if>	<tmpl_unless user.isVisitor>		<tmpl_if user.isSubscribed>			<a href="<tmpl_var unsubscribe.url>"><tmpl_var unsubscribe.label></a>		<tmpl_else>			<a href="<tmpl_var subscribe.url>"><tmpl_var subscribe.label></a>		</tmpl_if>		&#149;	</tmpl_unless>	<a href="<tmpl_var search.url>"><tmpl_var search.label></a></p>

^RawHeadTags(<style type="text/css">.picture {	padding: 0px;	margin: 10px;	float: left;	width: 150px;	font-size: 12px;	height: 100px;	overflow: hidden;}

.picture img
{
	border: black solid 0px;
}</style>);<br /><tmpl_loop post_loop>	<div class="picture">		<div style="text-align: center;">			<tmpl_if user.isPoster><div>(<tmpl_var status>)</div></tmpl_if>			<div><a href="<tmpl_var url>"><img src="<tmpl_var thumbnail>" alt="<tmpl_var title>" /></a></div>			<div><a href="<tmpl_var url>"><tmpl_var title></a></div>		</div>	</div></tmpl_loop><div style="clear: both;"></div><tmpl_if pagination.pageCount.isMultiple>	<div class="pagination">		<tmpl_var pagination.previousPage> &#183; <tmpl_var pagination.pageList.upTo10> &#183; <tmpl_var pagination.nextPage>	</div></tmpl_if>