#PBtmpl0000000000000129
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a><tmpl_if session.var.adminOn>	<p><tmpl_var controls></p></tmpl_if><tmpl_if displaytitle>	<tmpl_if linkurl>		<a href="<tmpl_var linkurl>" target="_blank">	</tmpl_if>	<span class="itemTitle"><tmpl_var title></span>	<tmpl_if linkurl>		</a>	</tmpl_if></tmpl_if><tmpl_if attachment.name>	<tmpl_if displaytitle> - </tmpl_if>	<a href="<tmpl_var attachment.url>" target="_blank"><img src="<tmpl_var attachment.Icon>" alt="<tmpl_var attachment.name>" width="16" height="16" border="0" align="middle" /></a></tmpl_if><tmpl_if description>  - <tmpl_var description></tmpl_if>