#PBtmpl0000000000000122
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<div class="jobSubmissionFormContent">
	<tmpl_if preview.title><p><b><tmpl_var preview.title></b></p></tmpl_if>
	<tmpl_if preview.content><p><tmpl_var preview.content></p></tmpl_if>
	<tmpl_if preview.userDefined3><p><tmpl_var preview.userDefined3></p></tmpl_if>
	<tmpl_if preview.userDefined1><p><tmpl_var preview.userDefined1></p></tmpl_if>
	<tmpl_if preview.userDefined2><p><tmpl_var preview.userDefined2></p></tmpl_if>
</div>

<tmpl_if isReply>
	<h2><tmpl_var message.header.label></h2>
<tmpl_else>
	<h2><tmpl_var job.header.label></h2>
</tmpl_if>

<tmpl_var form.header>
<table class="jobSubmissionFormContent">
	<tmpl_if isReply>
		<tr>
			<td><tmpl_var subject.label></td>
			<td><tmpl_var title.form></td>
		</tr>
		<tr>
			<td><tmpl_var message.label></td>
			<td><tmpl_var content.form></td>
		</tr>
	<tmpl_else>
		<tr>
			<td><tmpl_var job.title.label></td>
			<td><tmpl_var title.form></td>
		</tr>
		<tr>
			<td><tmpl_var synopsis.label></td>
			<td><tmpl_var synopsis.form></td>
		</tr>
		<tr>
			<td><tmpl_var job.description.label></td>
			<td><tmpl_var content.form></td>
		</tr>
		<tr>
			<td><tmpl_var job.requirements.label></td>
			<td><tmpl_var userDefined3.form.htmlarea></td>
		</tr>
		<tr>
			<td><tmpl_var compensation.label></td>
			<td><tmpl_var userDefined1.form></td>
		</tr>
		<tr>
			<td><tmpl_var location.label></td>
			<td><tmpl_var userDefined2.form></td>
		</tr>
		<tmpl_if attachment.form>
			<tr>
				<td><tmpl_var attachment.label></td>
				<td><tmpl_var attachment.form></td>
			</tr>
		</tmpl_if>
		<tr>
			<td><tmpl_var startDate.label></td>
			<td><tmpl_var startDate.form></td>
		</tr>
		<tr>
			<td><tmpl_var endDate.label></td>
			<td><tmpl_var endDate.form></td>
		</tr>
	</tmpl_if>
	<tr>
		<td><tmpl_var contentType.label></td>
		<td><tmpl_var contentType.form></td>
	</tr>
	<tmpl_if isNewPost>
		<tmpl_unless user.isVisitor>
			<tr>
				<td><tmpl_var subscribe.label></td>
				<td><tmpl_var subscribe.form></td>
			</tr>
		</tmpl_unless>
		<tmpl_if isNewThread>
			<tmpl_if user.isModerator>
				<tr>
					<td><tmpl_var lock.label></td>
					<td><tmpl_var lock.form></td>
				</tr>
				<tr>
					<td><tmpl_var stick.label></td>
					<td><tmpl_var sticky.form></td>
				</tr>
			</tmpl_if>
		</tmpl_if>
	</tmpl_if>
	<tr>
		<td></td>
		<td><tmpl_if usePreview><tmpl_var form.preview></tmpl_if><tmpl_var form.submit></td>
	</tr>
</table>
<tmpl_var form.footer>

<tmpl_if isReply>
	<div class="jobSubmissionFormContent">
		<b><tmpl_var reply.title></b><br /><br />
		<tmpl_var reply.content>
		<tmpl_if reply.userDefined3><p><tmpl_var reply.userDefined3></p></tmpl_if>
		<tmpl_if reply.userDefined1><p><tmpl_var reply.userDefined1></p></tmpl_if>
		<tmpl_if reply.userDefined2><p><tmpl_var reply.userDefined2></p></tmpl_if>
	</div>
</tmpl_if>
<p /><p />


~~~
table.jobSubmissionForm td
{
	font-family:arial;
	font-size:9pt;
}
.jobSubmissionFormContent
{
	font-family:arial;
	font-size:9pt;
}
h2
{
	font-family:arial;
}
