#MultiSearchTmpl0000001
<a name="<tmpl_var assetId>"></a> 
 
<tmpl_if session.var.adminOn> 
   <p><tmpl_var controls></p> 
</tmpl_if>

<tmpl_if displayTitle>
    <h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
    <tmpl_var description><p />
</tmpl_if>
<script type="text/javascript">
function domultisearch() {
var sf=document.multisearchform;
var submitto = sf.sengines.options[sf.sengines.selectedIndex].value + escape(sf.searchterms.value);
window.open(submitto);
return false;
}
</script>
<div style="width:100%">
<form name="multisearchform" onsubmit="return domultisearch();" action="">
<table cellpadding="2" cellspacing="0" class="multiSearch" border="0">
<tr>
	<td align="right">Search:</td>
	<td>
		<select name="sengines">
			<option value="http://www.google.com/search?q=" selected="selected">Google</option>
			<option value="http://news.google.com/news?q=">Google News</option>
			<option value="http://www.flickr.com/photos/tags/">Flickr Photos</option>
			<option value="http://www.digg.com/search?submit=Submit&amp;search=">Digg.com</option>
			<option value="http://www.altavista.com/web/results?q=">Alta Vista</option>
			<option value="http://search.yahoo.com/search?p=">Yahoo!</option>
		</select>
	</td>
</tr>
<tr>
	<td align="right">For:</td>
	<td><input type="text" name="searchterms" />&#160;<input type="submit" name="SearchSubmit" value="Search" /></td>
</tr>
</table>
</form>
</div>


~~~
h2 {
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}
.multiSearch {
	background-color:#DADADA;
	border:solid gray 1px;	
}