#matrixtmpl000000000001
<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>
<h2><tmpl_var title></h2>

<tmpl_if description>
	<div class="fontSettings">
		<tmpl_var description>
	</div>
</tmpl_if>

<table width="100%" class="matrixDefault">
<tr><td valign="top" class="leftColumn">
<p>Use the form below to select up to <tmpl_var maxCompares> listings to compare at once.
</p>
<tmpl_var compare.form>

</td><td valign="top">


<p class="grayBox">
<b>Narrow The Matrix</b><br />
You can narrow the scope of the matrix by <a href="<tmpl_var search.url>">searching</a> for exactly the criteria you're looking for in a listing.
</p>


<p class="grayBox">
<b>Expand The Matrix</b><br />
<tmpl_if isLoggedIn>
   <a href="<tmpl_var listing.add.url>">Click here to add a new listing.</a> Please note that you will be the official maintainer of the listing, and will be responsible for keeping it up to date.
<tmpl_else>
If you are the maker of a product, or are an expert user and are willing to maintain the listing, <a href="^a(linkonly);">create an account</a> so you can register your listing.
</tmpl_if>

</p>



<br /><b>Listing Statistics</b><br />
<table width="100%" border="0" class="stats">
<tr>
  <td class="columnOne">Most clicks:</td>
  <td class="columnTwo"><tmpl_var best.clicks.count></td>
  <td class="columnThree"><a href="<tmpl_var best.clicks.url>"><tmpl_var best.clicks.name></a></td>
</tr>
<tr>
  <td>Most views:</td>
  <td><tmpl_var best.views.count></td>
  <td><a href="<tmpl_var best.views.url>"><tmpl_var best.views.name></a></td>
</tr>
<tr>
  <td>Most compares:</td>
  <td><tmpl_var best.compares.count></td>
  <td><a href="<tmpl_var best.compares.url>"><tmpl_var best.compares.name></a></td>
</tr>
<tr>
  <td>Most recently updated:</td>
  <td><tmpl_var best.updated.date></td>
  <td><a href="<tmpl_var best.updated.url>"><tmpl_var best.updated.name></a></td>
</tr>
<tr>
  <td colspan="3" class="hrStyle"><img src="^Extras;spacer.gif" alt="" width="1" height="1" /></td>
</tr>
<tr>
  <td align="center" colspan="3">Best Rated By Users</td>
</tr>
<tmpl_loop best_rating_loop>
<tr>
  <td><tmpl_var category></td>
  <td><tmpl_var mean>/10</td>
  <td><a href="<tmpl_var url>"><tmpl_var name></a></td>
</tr>
</tmpl_loop>


<tr>
  <td colspan="3" class="hrStyle"><img src="^Extras;spacer.gif" alt="" width="1" height="1" /></td>
</tr>
<tr>
  <td colspan="3" align="center"><a href="<tmpl_var ratings.details.url>">View Ratings Details</a></td>
</tr>
<tr>
  <td colspan="3" class="hrStyle"><img src="^Extras;spacer.gif" alt="" width="1" height="1" /></td>
</tr>


<tr>
  <td align="center" colspan="3">Worst Rated By Users</td>
</tr>
<tmpl_loop worst_rating_loop>
<tr>
  <td><tmpl_var category></td>
  <td><tmpl_var mean>/10</td>
  <td><a href="<tmpl_var url>"><tmpl_var name></a></td>
</tr>
</tmpl_loop>

<tr>
  <td colspan="3" class="hrStyle"><img src="^Extras;spacer.gif" alt="" width="1" height="1" /></td>
</tr>

</table>

<br />
<br /><b>Site Statistics</b><br />
<table class="content">
<tr>
  <td>Listing Count:</td>
  <td><tmpl_var listing.count></td>
</tr>
<tr>
  <td>Current Visitors:</td>
  <td><tmpl_var current.user.count></td>
</tr>
<tr>
  <td>Registered Users:</td>
  <td><tmpl_var user.count></td>
</tr>
</table>




<tmpl_if session.var.adminOn>
<p>   <a href="<tmpl_var field.list.url>">List Fields</a> 
</p>
<tmpl_if pending_list>
<b>PENDING LISTINGS:</b>
</tmpl_if>
<ul>
<tmpl_loop pending_list>
<li><a href="<tmpl_var url>"><tmpl_var productName></a></li>
</tmpl_loop>
</ul>
</tmpl_if>

</td></tr></table>


~~~
h2 {
	font-family:arial;
}
.fontSettings {
	font-size:9pt;
	font-family:arial;
}
.matrixDefault {
	
}
.matrixDefault td {
	font-size:9pt;
	font-family:arial;
}
.matrixDefault .leftColumn {
	width:48%;
}
.matrixDefault .grayBox {
	background-color:#DADADA;
	padding:3px;
	-moz-box-sizing:border-box;
	border-bottom:solid gray 2px;
}
.matrixDefault .stats .columnOne{
	width:30%;
}
.matrixDefault .stats .columnTwo{
	width:20%;
}
.matrixDefault .stats .columnThree{
	width:50%;
}
.hrStyle {
	border-bottom:solid black 1px;
	height:1px;
	width:100%;
}