#PBtmpl0000000000000128
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
</tmpl_if>

<p>
	<tmpl_if user.canPost>
		<a href="<tmpl_var add.url>"><tmpl_var add.label></a>
		&bull;
	</tmpl_if>
	<tmpl_unless user.isVisitor>
		<tmpl_if user.isSubscribed>
			<a href="<tmpl_var unsubscribe.url>"><tmpl_var unsubscribe.label></a>
		<tmpl_else>
			<a href="<tmpl_var subscribe.url>"><tmpl_var subscribe.label></a>
		</tmpl_if>
		&bull;
	</tmpl_unless>
	<a href="<tmpl_var search.url>"><tmpl_var search.label></a>
</p>


<br />

<tmpl_loop post_loop>
	<div class="ad">
		<div style="text-align: center;">
			<b><a href="<tmpl_var url>"><tmpl_var title></a></b><br />
			<tmpl_if user.isPoster>(<tmpl_var status>)</tmpl_if>
			<tmpl_if thumbnail>
				<div style="margin: 3px;">
					<a href="<tmpl_var url>"><img src="<tmpl_var thumbnail>" alt="<tmpl_var thumbnail>" border="0" /></a>
				</div>
			</tmpl_if>
		</div>
		<tmpl_var synopsis>
	</div>
</tmpl_loop>

<div style="clear: both;"></div>

<tmpl_if pagination.pageCount.isMultiple>
	<div class="pagination">
		<tmpl_var pagination.previousPage> &middot; <tmpl_var pagination.pageList.upTo10> &middot; <tmpl_var pagination.nextPage>
	</div>
</tmpl_if>
~~~
<style type="text/css">
.ad {
	border: 1px dotted #aaaaaa;
	padding: 10px;
	margin: 0px;
	float: left;
	width: 140px;
	font-size: 12px;
	height: 175px;
	overflow: hidden;
}
</style>

