#slidePanelBar {
	position:absolute;
	font:bold 12px Verdana;
	line-height:20px;
}

#slidePanelBarHandle {
	z-index: 100000;
	position: absolute;
	top: 0px;
	right: 3px;
	line-height: 100px;
}

.panelButton {
	width:300; 
	text-align:center; 
	font-family:arial; 
	font-size:11px; 
	cursor:hand; 
	border-width:1; 	 
	border-color: #ACACAC; 
	background-color:#dddddd;
	background-image: url(btn_bg.jpg);
	position:absolute; 
	left:0;
	top: 0;
	border-style: solid;
} 

.panelButton A {
	text-decoration: none;
	color: black;
}

.scrollPanelUp {
	position:absolute; 
	top:40;
}

.scrollPanelDown {
	position: absolute;
}

.slidePanel {
	position:absolute;
	background-color: #eeeeee;

}

.panel, .panelLinkHolder {
	position:absolute; 
	left:0;
	background-color: #eeeeee;
		background-image: url(panel_bg.jpg);
	background-repeat: repeat-x;
}

.panelLinkOut {
	position:absolute; 
	overflow: hidden;
	height: 25px;
	cursor: hand;
	left:0; 
	/*border: 1px solid #eeeeee; */
	font-size: 11px;
	font-family: helvetica, arial, sans;
}
.panelLinkIn {
	position:absolute; 
	height: 25px;
	overflow: hidden;
	cursor: hand;
	left:0; 
	border: 1px solid #DEDCDC;
	font-size: 11px;
	font-family: helvetica, arial, sans;
	background-color: #F5F5F5;
}

