# Create preload.exclude in your WebGUI/sbin directory and add modules to it
# that you don't want to be loaded by modperl. This will decrease the overall
# size of your modperl instances, which will increase performance, and reduce
# memory use.
WebGUI::Auth::LDAP
WebGUI::Asset::Wobject::WSClient
WebGUI::Asset::File::ZipArchive
WebGUI::Asset::Template::HTMLTemplateExpr
WebGUI::Asset::Template::TemplateToolkit
WebGUI::Asset::Wobject::Matrix
WebGUI::Asset::Wobject::HttpProxy
WebGUI::Asset::Sku::Product
WebGUI::Asset::Sku::Donation
WebGUI::Asset::Sku::Subscription
WebGUI::Asset::Sku::FlatDiscount
WebGUI::Asset::Sku::EMSBadge
WebGUI::Asset::Sku::EMSRibbon
WebGUI::Asset::Sku::EMSTicket
WebGUI::Asset::Sku::EMSToken
WebGUI::Asset::Sku
WebGUI::Asset::Wobject::Survey
WebGUI::Asset::Wobject::InOutBoard
WebGUI::Asset::Wobject::Dashboard
WebGUI::Asset::Wobject::EventManagementSystem
WebGUI::Asset::Wobject::ProjectManager
WebGUI::Asset::Wobject::SyndicatedContent
WebGUI::Asset::Wobject::WSClient
WebGUI::Asset::Wobject::MultiSearch
WebGUI::Shop::Vendor
WebGUI::Shop::Transaction
WebGUI::Shop::CartItem
WebGUI::Shop::Cart
WebGUI::Shop::Ship
WebGUI::Shop::Pay
WebGUI::Shop::TransactionItem
WebGUI::Shop::Credit
WebGUI::Shop::AddressBook
WebGUI::Shop::Admin
WebGUI::Shop::PayDriver
WebGUI::Shop::Products
WebGUI::Shop::PayDriver::Cash
WebGUI::Shop::PayDriver::ITransact
WebGUI::Shop::Address
WebGUI::Shop::ShipDriver
WebGUI::Shop::Tax
WebGUI::Shop::ShipDriver::FlatRate
WebGUI::Content::Shop
WebGUI::Macro::AOIHits
WebGUI::Macro::AOIRank
WebGUI::Macro::AdminText
WebGUI::Macro::CanEditText
WebGUI::Macro::CartItemCount
WebGUI::Macro::EditableToggle
WebGUI::Macro::Execute
WebGUI::Macro::FormParam
WebGUI::Macro::GroupAdd
WebGUI::Macro::GroupDelete
WebGUI::Macro::GroupText
WebGUI::Macro::Include
WebGUI::Macro::LastModified
WebGUI::Macro::MiniCart
WebGUI::Macro::Quote
WebGUI::Macro::RootTitle
WebGUI::Macro::SQL
WebGUI::Macro::SpectreCheck
WebGUI::Macro::Splat_random
WebGUI::Macro::URLEncode
WebGUI::Macro::ViewCart
WebGUI::Macro::Widget
