#matrixtmpl000000000005
<h2>Search The Matrix</h2>

<tmpl_if isTooFew>
	<p class="fontSettings">Your search returned no results. Try specifying a few less criteria.</p>
</tmpl_if>

<tmpl_if isTooMany>
<p class="fontSettings">
	Your search returned too many results. Either select up to <tmpl_var maxCompares> products from the list below, or specify more critera.
</p>
</tmpl_if>


<table width="100%" class="matrixSearch" border="0">
<tr>
	<td valign="top">
		<tmpl_var compare.form>
	</td>
	<td valign="top">
		<tmpl_var form.header>
		<tmpl_var form.submit>
		<table width="100%"  class="content">
		<tr>
			<td valign="top" style="width:50%;">
				<span class="category">Features</span>
				<table class="content" width="180">
				<tmpl_if features_loop>
					<tmpl_loop features_loop>
					<tr<tmpl_if __ODD__> class="odd"<tmpl_else> class="even"</tmpl_if>>
						<td><tmpl_var label><div class="wg-hoverhelp"><tmpl_var description></div></td>
						<td><tmpl_var form></td>
					</tr>
					</tmpl_loop>
				<tmpl_else>
					<tr><td>&#160;</td></tr>
				</tmpl_if>
				</table>
			</td>
			<td valign="top" style="width:50%;">
				<span class="category">Benefits</span>
				<table class="content">
				<tmpl_if benefits_loop>
					<tmpl_loop benefits_loop>
					<tr<tmpl_if __ODD__> class="odd"<tmpl_else> class="even"</tmpl_if>>
						<td><tmpl_var label><div class="wg-hoverhelp"><tmpl_var description></div></td>
						<td><tmpl_var form></td>
					</tr>
					</tmpl_loop>
				<tmpl_else>
					<tr><td>&#160;</td></tr>
				</tmpl_if>
				</table>
			</td>
		</tr>
</table>

<tmpl_var form.submit>
</div>
<tmpl_var form.footer>


</td></tr></table>
~~~
<link href="/extras/yui/build/container/assets/container.css" rel="stylesheet" type="text/css" />
<link href="/extras/hoverhelp.css" rel="stylesheet" type="text/css" />
<script src="/extras/yui/build/yahoo/yahoo-min.js" type="text/javascript"></script>
<script src="/extras/yui/build/dom/dom-min.js" type="text/javascript"></script>
<script src="/extras/yui/build/event/event-min.js" type="text/javascript"></script>
<script src="/extras/yui/build/container/container-min.js" type="text/javascript"></script>
<script src="/extras/hoverhelp.js" type="text/javascript"></script>
<style type="text/css">
h2 {
	font-family:arial;
}
.fontSettings {
	font-size:9pt;
	font-family:arial;
}
.matrixSearch td {
	font-size:9pt;
	font-family:arial;
}
.matrixSearch .leftColumn {
	width:48%;
}
.matrixSearch .grayBox {
	background-color:#DADADA;
	padding:3px;
	-moz-box-sizing:border-box;
	border-bottom:solid gray 2px;
}
.matrixSearch .stats .columnOne{
	width:30%;
}
.matrixSearch .stats .columnTwo{
	width:20%;
}
.matrixSearch .stats .columnThree{
	width:50%;
}
.hrStyle {
	border-bottom:solid black 1px;
	height:1px;
	width:100%;
}

</style>

