#PBtmpl0000000000000207
#title: Article with Files
#url: article-with-files
#menutitle: 

<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if pagination.isFirstPage>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
</tmpl_if>

<tmpl_if pagination.isLastPage>
	<tmpl_if linkUrl>
	<tmpl_if linkTitle>
		<p />
		<a href="<tmpl_var linkUrl>"><tmpl_var linkTitle></a>
	</tmpl_if>
	</tmpl_if>
	<tmpl_loop attachment_loop>
		<p style="display:inline;vertical-align:middle;"><a href="<tmpl_var url>"><img src="<tmpl_var iconUrl>" style="vertical-align:middle;border: 0px;" alt="<tmpl_var filename>" /> <tmpl_var filename></a></p><br />
	</tmpl_loop>
</tmpl_if>

<tmpl_if pagination.pageCount.isMultiple>
<tmpl_var pagination.previousPage>
&#183;
<tmpl_var pagination.pageList.upTo20>
&#183;
<tmpl_var pagination.nextPage>
</tmpl_if>

<tmpl_if pagination.isFirstPage>
</tmpl_if>

<tmpl_if pagination.isLastPage>
<tmpl_if allowDiscussion>
	<p>
	<table width="100%" cellspacing="2" cellpadding="1" border="0">
	<tr>
	<td align="center" width="50%" class="tableMenu"><a href="<tmpl_var replies.URL>"><tmpl_var replies.label> (<tmpl_var replies.count>)</a></td>
	<td align="center" width="50%" class="tableMenu"><a href="<tmpl_var post.url>"><tmpl_var post.label></a></td>
	</tr>
	</table>
</tmpl_if>
</tmpl_if>


