<?xml version="1.0" encoding="UTF-8"?>
<config>

	<content_url>/extras/ukplayer/content.xml</content_url>
	
	<width>400</width><!-- this value is overwritten by the flashVars but the tag needs to be here (and it is useful for offline testing) -->
	<height>300</height><!-- this value is overwritten by the flashVars but the tag needs to be here (and it is useful for offline testing) -->
	<background_color>0xDDDDEE</background_color>
	<default_duration>20</default_duration>
	<default_slidewidth>100</default_slidewidth>
	<default_slideheight>100</default_slideheight>
	
	<font>Verdana</font>
	<font_size>12</font_size>
	<font_color>0xCCCCCC</font_color>
	<text_border_color>0xCCCCCC</text_border_color>
	<text_bg_color>0x000000</text_bg_color>
	<text_autohide>true</text_autohide>
	
	<controls_color>0xCCCCCC</controls_color>
	<controls_border_color>0xCCCCCC</controls_border_color>
	<controls_bg_color>0x000000</controls_bg_color>
	<controls_autohide>false</controls_autohide>
	
	<thumbnail_width>48</thumbnail_width>
	<thumbnail_height>36</thumbnail_height>
	<thumbnail_border_color>0x000000</thumbnail_border_color>
	<menu_autohide>true</menu_autohide>
	<menu_dead_zone_width>100</menu_dead_zone_width>
	<menu_gaps>5</menu_gaps>
	
	<mute_at_start>false</mute_at_start>
	<autostart>true</autostart>
	<autopause>false</autopause>
	<loop>false</loop>
	<error_message_content><![CDATA[XML not found: ]]></error_message_content>
	<error_message_image><![CDATA[Image not found]]></error_message_image>
	
</config>
