#PBtmplHelp000000000001
<p><tmpl_var body></p>

<tmpl_if fields>
<dl>
	<tmpl_loop fields>
   		<dt><tmpl_var title></dt>
	        <dd><tmpl_var description>
			<tmpl_if uiLevel> <br /><i><tmpl_var uiLevelLabel>:</i><tmpl_var uiLevel><br /> </tmpl_if>
		</dd>
        </tmpl_loop>
</dl>
</tmpl_if>

<tmpl_if variable_loop1>
	<dl> <tmpl_loop variable_loop1>
		<dt><tmpl_var title></dt>
		<dd><tmpl_var description>
		<tmpl_if variable_loop2>
			<dl> <tmpl_loop variable_loop2>
				<dt><tmpl_var title></dt>
				<dd><tmpl_var description>
				<tmpl_if variable_loop3>
					<dl> <tmpl_loop variable_loop3>
						<dt><tmpl_var title></dt>
						<dd><tmpl_var description>
						<tmpl_if variable_loop4>
							<dl> <tmpl_loop variable_loop4>
								<dt><tmpl_var title></dt>
								<dd><tmpl_var description></dd>
							</tmpl_loop> </dl>
						</tmpl_if></dd>
					</tmpl_loop> </dl>
				</tmpl_if></dd>
			</tmpl_loop> </dl>
		</tmpl_if></dd>
	</tmpl_loop> </dl>
</tmpl_if>

~~~
<style type="text/css">
dd {
	margin-bottom: 15px;
}

dt {
	font-weight: bold;	
}
</style>

