#EventManagerTmpl000003
#title:Default Event Management System Checkout
#menuTitle:Default Event Management System Checkout
#url:default-ems-template-checkout
#namespace:EventManagementSystem_checkout
#create
<tmpl_var form.header>
<table width='100%'>
<tr><td><tmpl_var message></td></tr>

<tmpl_if chooseSubevents>
 <tmpl_loop subevents_loop>
  <tr>
  <td><tmpl_var form.checkBox></td>
  <td><tmpl_var title></td>
  <td><tmpl_var description></td>
  <td><tmpl_var price></td>
  </tr>
 </tmpl_loop>
</tmpl_if>

<tmpl_if resolveConflicts>
 <tmpl_loop conflict_loop>
 <tr>
  <td><tmpl_var form.deleteControl></td>
  <td><tmpl_var title></td>
  <td><tmpl_var description></td>
  <td><tmpl_var price></td>
  </tr>
 </tmpl_loop>
</tmpl_if>

<tr><td><tmpl_var form.submit></td></tr>
</table>
<tmpl_var form.footer>

<tmpl_if registration>
  <tmpl_var form.header>
  <tmpl_var form.message>
  <tmpl_var form.chooserJS>
  <table>
  <tr><td><tmpl_var form.chooser.label></td><td><tmpl_var form.chooser></td></tr>
  <tr><td><tmpl_var form.firstName.label></td><td><tmpl_var form.firstName></td></tr>
<tr><td><tmpl_var form.lastName.label></td><td><tmpl_var form.lastName></td></tr>
<tr><td><tmpl_var form.address.label></td><td><tmpl_var form.address></td></tr>
<tr><td><tmpl_var form.city.label></td><td><tmpl_var form.city></td></tr>
<tr><td><tmpl_var form.state.label></td><td><tmpl_var form.state></td></tr>
<tr><td><tmpl_var form.zipcode.label></td><td><tmpl_var form.zipcode></td></tr>
<tr><td><tmpl_var form.country.label></td><td><tmpl_var form.country></td></tr>
<tr><td><tmpl_var form.phoneNumber.label></td><td><tmpl_var form.phoneNumber></td></tr>
<tr><td><tmpl_var form.email.label></td><td><tmpl_var form.email></td></tr>
<tr><td rowspan='2' align='center'><tmpl_var form.submit></td></tr>
</table>
<tmpl_var form.footer>
</tmpl_if>