#PBtmpl0000000000000048
<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>
<tmpl_if description>
	<p><tmpl_var description></p>
</tmpl_if>
<tmpl_if session.var.adminOn>
<tmpl_var controls><br />
</tmpl_if>
<span class="verticalMenu">
<tmpl_loop page_loop>
<tmpl_var page.indent>
	<a <tmpl_if page.isCurrent>class="selectedMenuItem"</tmpl_if> <tmpl_if page.newWindow>onclick="window.open('<tmpl_var page.url>')" href="#" <tmpl_else>href="<tmpl_var page.url>"</tmpl_if>><tmpl_var page.menuTitle></a>
	<br />		
</tmpl_loop>
</span>
