#PBtmpl0000000000000112
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
</tmpl_if>

<p class="pagination">
	<tmpl_if user.canPost>
		<a href="<tmpl_var add.url>"><tmpl_var add.label></a>
		&bull;
	</tmpl_if>
	<tmpl_unless user.isVisitor>
		<tmpl_if user.isSubscribed>
			<a href="<tmpl_var unsubscribe.url>"><tmpl_var unsubscribe.label></a>
		<tmpl_else>
			<a href="<tmpl_var subscribe.url>"><tmpl_var subscribe.label></a>
		</tmpl_if>
		&bull;
	</tmpl_unless>
	<a href="<tmpl_var search.url>"><tmpl_var search.label></a>
</p>

<p />

<tmpl_loop post_loop>
	<div class="weblogTitleBar">
		<tmpl_var title>
	</div>
	<fieldset class="weblogSynopsis">
		<legend class="weblogLegend" align="left">
			<tmpl_var by.label> <a href="<tmpl_var userProfile.url>"><tmpl_var username></a>
			-
			<tmpl_var dateSubmitted.human>
			<tmpl_if replies>
				- <tmpl_var replies> <tmpl_var replies.label>
			</tmpl_if>
			<tmpl_if user.isPoster>
				 - <tmpl_var status>
			<tmpl_else>
				<tmpl_if user.isModerator>
					- <tmpl_var status>
				</tmpl_if>
			</tmpl_if>
		</legend>
		<tmpl_if thumbnail>
			<a href="<tmpl_var url>"><img src="<tmpl_var thumbnail>" border="0" alt="<tmpl_var title>" align="right" /></a>
		</tmpl_if>
		<tmpl_var synopsis>
		<div class="weblogReadMore">
			<a href="<tmpl_var url>"><tmpl_var readmore.label></a>
		</div>
	</fieldset>
	<p />
</tmpl_loop>

<tmpl_if pagination.pageCount.isMultiple>
	<div class="pagination">
		<tmpl_var pagination.previousPage> &middot; <tmpl_var pagination.pageList.upTo10> &middot; <tmpl_var pagination.nextPage>
	</div>
</tmpl_if>


~~~
.pagination
{
	-moz-box-sizing:border-box;
	background:#C0C0C0;
	width:100%;
	text-align:right;
	padding:3px;
	font-size:9pt;
	font-family:arial;
	margin-top:3px;
}

.pagination a
{
	color:white;
}

.weblogTitleBar {
	font-weight: bold;
	font-size: 14px;
	font-family:arial;
}

.weblogLegend {
	font-size: 9px;
	color: #999999;
	font-family:arial;
}

.weblogLegend a
{
	color:#29587E;
}

.weblogReadMore {
	text-align: right;
	font-size: 9px;
	width: 100%;
	font-family:arial;
}

.weblogSynopsis {
	border: 1px solid #bbbbbb;
	font-size: 13px;
	padding: 5px;
	-moz-border-radius: 6px;
	font-family:arial;
}