#PBtmpl0000000000000001


<div id="application_title">
	<tmpl_var application.title>
</div>
<div id="application_workarea">
	<tmpl_var application.workArea>
</div>
<div id="console_workarea">
	<div class="adminConsoleSpacer">
		&#160;
	</div>
	<tmpl_loop application_loop>
		<tmpl_if canUse>
			<div class="adminConsoleApplication">
				<a href="<tmpl_var url>"><img src="<tmpl_var icon>" style="border-style:none;" title="<tmpl_var title>" alt="<tmpl_var title>" /></a><br />
				<a href="<tmpl_var url>"><tmpl_var title></a>
			</div>
		</tmpl_if>
	</tmpl_loop>
	<div class="adminConsoleSpacer">
		&#160;
	</div>
</div>
<div class="adminConsoleMenu">
	<div id="adminConsoleMainMenu" class="adminConsoleMainMenu">
		<div id="console_toggle_on">
			<a href="#" onclick="toggleAdminConsole()"><tmpl_var toggle.on.label></a><br />
		</div>
		<div id="console_toggle_off">
			<a href="#" onclick="toggleAdminConsole()"><tmpl_var toggle.off.label></a><br />
		</div>
	</div>
	<div id="adminConsoleApplicationSubmenu" class="adminConsoleApplicationSubmenu">
		<tmpl_loop submenu_loop>
			<a href="<tmpl_var url>" <tmpl_var extras>><tmpl_var label></a><br />
		</tmpl_loop>
	</div>
	<div id="adminConsoleUtilityMenu" class="adminConsoleUtilityMenu">
		<a href="<tmpl_var backtosite.url>"><tmpl_var backtosite.label></a><br />
		^AdminToggle;<br />
		^LoginToggle;<br />
	</div>
</div>
<div id="console_title">
	<tmpl_var console.title>
</div>
<div id="application_help">
	<tmpl_if help.url>
		<a href="<tmpl_var help.url>"><img src="^Extras(adminConsole/small/help.gif);" alt="?" style="border-style:none;" /></a>
	</tmpl_if>
</div>
<div id="application_icon">
	<img src="<tmpl_var application.icon>" style="border-style:none;" title="<tmpl_var application.title>" alt="<tmpl_var application.title>" />
</div>
<div class="adminConsoleTitleIconMedalian">
<img src="^Extras(adminConsole/medalian.gif);" style="border-style:none;" alt="*" />
</div>
<div id="console_icon">
	<img src="<tmpl_var console.icon>" style="border-style:none;" title="<tmpl_var console.title>" alt="<tmpl_var console.title>" />
</div>
<script type="text/javascript" defer="defer">
	initAdminConsole(<tmpl_if application.title>true<tmpl_else>false</tmpl_if>,<tmpl_if submenu_loop>true<tmpl_else>false</tmpl_if>);
</script>

~~~
<link href="^Extras(adminConsole/adminConsole.css);" type="text/css" rel="stylesheet" />
<script src="^Extras(adminConsole/adminConsole.js);" type="text/javascript"></script>

