#DPUROtmpl0000000000001
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<p>
<a href="<tmpl_var rss.url.0.9>">RSS 0.90</a>
<a href="<tmpl_var rss.url.0.91>">RSS 0.91</a>
<a href="<tmpl_var rss.url.1.0>">RSS 1.0</a>
<a href="<tmpl_var rss.url.2.0>">RSS 2.0</a>
</p>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
	<p />
</tmpl_if>

<h2>
<tmpl_if channel.link>
	<a href="<tmpl_var channel.link>" target="_blank"><tmpl_var channel.title></a>
<tmpl_else>
	<tmpl_var channel.title>
</tmpl_if>
</h2>

<tmpl_if channel.description>
	<tmpl_var channel.description><p />
</tmpl_if>

<ul>
<tmpl_loop item_loop>

<tmpl_if new_rss_site>
<!-- We're in a new RSS group. Output the header. -->
<h2><a href="<tmpl_var site_link>" target="_blank"><tmpl_var site_title></a></h2>
</tmpl_if>

<li>
	<tmpl_if link>
		<a href="<tmpl_var link>"><tmpl_var title></a>
	<tmpl_else>
		<tmpl_var title>
	</tmpl_if>
	<tmpl_if description>
		- <tmpl_var description>
	</tmpl_if>
<b><tmpl_var site_title></b>
</li>
</tmpl_loop>
</ul>
