<h2 class="productTitle"><tmpl_var title></h2>

<table class="productDetails" cellpadding="3" cellspacing="0">
<tr>
	<td class="description" valign="top"><tmpl_var description></td>
	<td class="price" valign="top"><tmpl_var price></td>
</tr>
<tr class="softGray">
	<td colspan="2"><strong>Max Attendees:</strong> <tmpl_var maximumAttendees></td>
</tr>
<tr class="softGray">	
	<td colspan="2"><strong>Seats Remaining:</strong> <tmpl_var seatsRemaining></td>
</tr>	
<tr class="softGray">	
	<td colspan="2"><strong>Number Registered:</strong> <tmpl_var numberRegistered></td>
</tr>
<tr class="softGray">	
	<td colspan="2"><strong>Event Full?:</strong> <tmpl_var eventIsFull></td>
</tr>
<tr class="softGray">
	<td  colspan="2" class="purchase">
	<tmpl_unless eventIsFull>
		<a href="<tmpl_var purchase.url>"><tmpl_var purchase.label></a>
	<tmpl_else>
		<tmpl_var purchase.label><br />
	</tmpl_unless>	
	</td>
</tr>
</table>

~~~
<style type="text/css">
	td.description {
		width:80%;
		text-align:left;
		border-bottom:solid silver 1px;
		font-style:italic;		
	}
	td.price {
		width:20%;
		text-align:right;
		font-weight:bold;
		border-bottom:solid silver 1px;
	}
	h2.productTitle {
		margin-bottom:3px;
		border-bottom:solid gray 1px;
	}
	table.productDetails {
		padding-left:10px;
		-moz-box-sizing:border-box;
		width:100%;
	}
	tr.softGray td {
		background-color:#F0F0F0;
	}
	td.purchase {
		border:solid silver 1px;
		text-align:center;
	}
</style>
