#WVtmpl0000000000000001
<h2>RandomThread macro debug output:</h2>
<dl>
<dt>approve.url:</dt> <dd><tmpl_var approve.url></dd>
<dt>assetId:</dt> <dd><tmpl_var assetId></dd>
<dt>assetSize:</dt> <dd><tmpl_var assetSize></dd>

<dt>&lt;tmpl_loop attachment_loop&gt;:</dt>
<dd><tmpl_loop attachment_loop>
<dt>filename:</dt> <dd><tmpl_var filename></dd>
<dt>icon:</dt> <dd><tmpl_var icon></dd>
<dt>isImage:</dt> <dd><tmpl_var isImage></dd>
<dt>thumbnail:</dt> <dd><tmpl_var thumbnail></dd>
<dt>url:</dt> <dd><tmpl_var url></dd>
</tmpl_loop>&lt;/tmpl_loop&gt;
</dd>

<dt>attachment.icon:</dt> <dd><tmpl_var attachment.icon></dd>
<dt>attachment.thumbnail:</dt> <dd><tmpl_var attachment.thumbnail></dd>
<dt>attachment.url:</dt> <dd><tmpl_var attachment.url></dd>
<dt>className:</dt> <dd><tmpl_var className></dd>
<dt>content:</dt> <dd><tmpl_var content></dd>
<dt>contentType:</dt> <dd><tmpl_var contentType></dd>
<dt>createdBy:</dt> <dd><tmpl_var createdBy></dd>
<dt>creationDate:</dt> <dd><tmpl_var creationDate></dd>
<dt>dateSubmitted:</dt> <dd><tmpl_var dateSubmitted></dd>
<dt>dateSubmitted.human:</dt> <dd><tmpl_var dateSubmitted.human></dd>
<dt>dateUpdated:</dt> <dd><tmpl_var dateUpdated></dd>
<dt>dateUpdated.human:</dt> <dd><tmpl_var dateUpdated.human></dd>
<dt>delete.url:</dt> <dd><tmpl_var delete.url></dd>
<dt>deny.url:</dt> <dd><tmpl_var deny.url></dd>
<dt>edit.url:</dt> <dd><tmpl_var edit.url></dd>
<dt>encryptPage:</dt> <dd><tmpl_var encryptPage></dd>
<dt>endDate:</dt> <dd><tmpl_var endDate></dd>
<dt>extraHeadTags:</dt> <dd><tmpl_var extraHeadTags></dd>
<dt>groupIdEdit:</dt> <dd><tmpl_var groupIdEdit></dd>
<dt>groupIdView:</dt> <dd><tmpl_var groupIdView></dd>
<dt>hasRated:</dt> <dd><tmpl_var hasRated></dd>
<dt>image.url</dt> <dd><tmpl_var image.url></dd>
<dt>image.thumbnail</dt> <dd><tmpl_var image.thumbnail></dd>
<dt>isHidden:</dt> <dd><tmpl_var isHidden></dd>
<dt>isLocked:</dt> <dd><tmpl_var isLocked></dd>
<dt>isLockedBy:</dt> <dd><tmpl_var isLockedBy></dd>
<dt>isMarkedRead:</dt> <dd><tmpl_var isMarkedRead></dd>
<dt>isPackage:</dt> <dd><tmpl_var isPackage></dd>
<dt>isPrototype:</dt> <dd><tmpl_var isPrototype></dd>
<dt>isSticky:</dt> <dd><tmpl_var isSticky></dd>
<dt>isSystem:</dt> <dd><tmpl_var isSystem></dd>
<dt>lastPostDate:</dt> <dd><tmpl_var lastPostDate></dd>
<dt>lastPostId:</dt> <dd><tmpl_var lastPostId></dd>
<dt>lineage:</dt> <dd><tmpl_var lineage></dd>
<dt>menuTitle:</dt> <dd><tmpl_var menuTitle></dd>
<dt>newWindow:</dt> <dd><tmpl_var newWindow></dd>
<dt>ownerUserId:</dt> <dd><tmpl_var ownerUserId></dd>
<dt>parentId:</dt> <dd><tmpl_var parentId></dd>
<dt>rate.url.1:</dt> <dd><tmpl_var rate.url.1></dd>
<dt>rate.url.2:</dt> <dd><tmpl_var rate.url.2></dd>
<dt>rate.url.3:</dt> <dd><tmpl_var rate.url.3></dd>
<dt>rate.url.4:</dt> <dd><tmpl_var rate.url.4></dd>
<dt>rate.url.5:</dt> <dd><tmpl_var rate.url.5></dd>
<dt>rating:</dt> <dd><tmpl_var rating></dd>
<dt>rating.value:</dt> <dd><tmpl_var rating.value></dd>
<dt>replies:</dt> <dd><tmpl_var replies></dd>
<dt>reply.url:</dt> <dd><tmpl_var reply.url></dd>
<dt>reply.withquote.url:</dt> <dd><tmpl_var reply.withquote.url></dd>
<dt>revisedBy:</dt> <dd><tmpl_var revisedBy></dd>
<dt>revisionDate:</dt> <dd><tmpl_var revisionDate></dd>
<dt>startDate:</dt> <dd><tmpl_var startDate></dd>
<dt>state:</dt> <dd><tmpl_var state></dd>
<dt>stateChanged:</dt> <dd><tmpl_var stateChanged></dd>
<dt>stateChangedBy:</dt> <dd><tmpl_var stateChangedBy></dd>
<dt>status:</dt> <dd><tmpl_var status></dd>
<dt>storageId:</dt> <dd><tmpl_var storageId></dd>
<dt>subscriptionGroupId:</dt> <dd><tmpl_var subscriptionGroupId></dd>
<dt>synopsis:</dt> <dd><tmpl_var synopsis></dd>
<dt>tagId:</dt> <dd><tmpl_var tagId></dd>
<dt>threadId:</dt> <dd><tmpl_var threadId></dd>
<dt>title:</dt> <dd><tmpl_var title></dd>
<dt>title.short:</dt> <dd><tmpl_var title.short></dd>
<dt>url:</dt> <dd><tmpl_var url></dd>
<dt>user.canEdit:</dt> <dd><tmpl_var user.canEdit></dd>
<dt>user.isPoster:</dt> <dd><tmpl_var user.isPoster></dd>
<dt>userDefined1:</dt> <dd><tmpl_var userDefined1></dd>
<dt>userDefined2:</dt> <dd><tmpl_var userDefined2></dd>
<dt>userDefined3:</dt> <dd><tmpl_var userDefined3></dd>
<dt>userDefined4:</dt> <dd><tmpl_var userDefined4></dd>
<dt>userDefined5:</dt> <dd><tmpl_var userDefined5></dd>
<dt>userId:</dt> <dd><tmpl_var userId></dd>
<dt>userProfile.url:</dt> <dd><tmpl_var userProfile.url></dd>
<dt>username:</dt> <dd><tmpl_var username></dd>
<dt>views:</dt> <dd><tmpl_var views></dd>
</dl>
