#PBtmpl0000000000000054
<div><a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a></div>

<tmpl_if showAdmin>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<p><tmpl_var description></p>
</tmpl_if>

<div class="layoutColumnPadding">
<tmpl_if showAdmin>
	<table border="0" id="position1" class="content"><tbody>
</tmpl_if>

<tmpl_loop position1_loop>
	<tmpl_if showAdmin>
		<tr id="td<tmpl_var id>"><td><div id="td<tmpl_var id>_div" class="dragable">
	</tmpl_if>

	<table border="0">
	<tr>
		<td class="content"><tmpl_var dragger.icon><tmpl_var content></td>
	</tr>
	</table>

	<tmpl_if showAdmin>
		</div></td></tr>
	</tmpl_if>
</tmpl_loop>

<tmpl_if showAdmin>
	</tbody></table>
</tmpl_if>
</div>

<tmpl_if showAdmin>
	<table><tr id="blank" class="hidden"><td><div><div class="empty">&nbsp;</div></div></td></tr></table>
	<tmpl_var dragger.init>
</tmpl_if>
