#PBtmpl0000000000000095
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>



<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if image1>
	<img src="<tmpl_var image1>" alt="<tmpl_var image1>" class="noBorder" />
	<br />
</tmpl_if>

<table width="100%" cellpadding="3" cellspacing="3" border="0" class="benefitsShowcase">
<tr>
	<td class="content" valign="top">
		<tmpl_if description>
			<tmpl_var description>
			<p />
		</tmpl_if>
		<b>Benefits</b><br />
		<tmpl_if session.var.adminOn>
			<a href="<tmpl_var addBenefit.url>"><tmpl_var addBenefit.label></a>
			<p />
		</tmpl_if>
		<tmpl_loop benefit_loop>
			&middot;<tmpl_if session.var.adminOn><tmpl_var benefit.controls></tmpl_if><tmpl_var benefit.benefit><br />
		</tmpl_loop>
	</td>
	<td valign="top" width="34%" class="benefitsShowcase2">
		<tmpl_if thumbnail2>
			<a href="<tmpl_var image2>"><img src="<tmpl_var thumbnail2>" alt="<tmpl_var thumbnail2>" class="noBorder" /></a>
			<p />
		</tmpl_if>
		<b>Specifications</b><br />
		<tmpl_if session.var.adminOn>
			<a href="<tmpl_var addSpecification.url>"><tmpl_var addSpecification.label></a>
			<p />
		</tmpl_if>
		<tmpl_loop specification_loop>
			&middot;<tmpl_if session.var.adminOn><tmpl_var specification.controls></tmpl_if><b><tmpl_var specification.label>:</b> <tmpl_var specification.specification> <tmpl_var specification.units><br />
		</tmpl_loop>
		<b>Options</b><br />
		<tmpl_if session.var.adminOn>
			<a href="<tmpl_var addaccessory.url>"><tmpl_var addaccessory.label></a>
			<p />
		</tmpl_if>
		<tmpl_loop accessory_loop>
			&middot;<tmpl_if session.var.adminOn><tmpl_var accessory.controls></tmpl_if><a href="<tmpl_var accessory.url>"><tmpl_var accessory.title></a><br />
		</tmpl_loop>
		<b>Other Products</b><br />
		<tmpl_if session.var.adminOn>
			<a href="<tmpl_var addRelatedProduct.url>"><tmpl_var addRelatedProduct.label></a>
			<p />


		</tmpl_if>
		<tmpl_loop relatedproduct_loop>
			&middot;<tmpl_if session.var.adminOn><tmpl_var RelatedProduct.controls></tmpl_if><a href="<tmpl_var relatedproduct.url>"><tmpl_var relatedproduct.title></a><br />
		</tmpl_loop>
	</td>
</tr>
</table>


~~~
.productOptions {
	font-family: arial;
	font-size: 11px;
}
h2 {
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}
.noBorder {
	border:none;
}
.benefitsShowcase {
	border:solid gray 1px;
}
.benefitsShowcase td {
	font-family:arial;
	font-size:9pt;
}
.benefitsShowcase2 {
	border:solid gray 1px;
	width:34%;
	font-size:8pt;
	font-family:arial;
}
.benefitsShowcase a {
	color:#29587E;
}
.benefitsShowcase .content {
	font-size:9pt;
	width:66%;
}