#PBtmpl0000000000000060
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>^Page("title"); - WebGUI</title>
	<tmpl_var head.tags>
</head>
<body>
	^AdminBar;
	<div class="topwrapper">

	<div class="menu">
		^AssetProxy(flexmenu);
	</div>

	<div class="contentArea">
		<tmpl_var body.content>
		<br />
		<br />
		<hr />
		^LoginToggle; &nbsp; ^a(^@;); &nbsp; ^H; &nbsp; ^AdminToggle;
	</div>

	</div>

</body>
</html>
~~~
<style type="text/css">

div.topwrapper {
	position: relative;
}

.menu {
	position: absolute;
	top: 25px;
	left: 10px;
	width: 180px;
	font-family: helvetica, arial;
	font-size: 12px;
}

.contentArea {
	border: 1px solid #cccccc;
	margin: 25px 10px 10px 190px;
	padding: 5px;
	font-family: helvetica, arial;
	min-height: 400px;
}

/* Hides from non-ie: the holly hack \*/
* html .adminConsoleWorkArea {
	zoom: 1.00;
	display: inline;
}
/* End hide from non-ie */

	</style>
