#PBtmpl0000000000000093
		<tmpl_if displayTitle>
		<h2><tmpl_var title></h2>
		</tmpl_if>
		<tmpl_if description>
			<p><tmpl_var description></p>
		</tmpl_if>
		<tmpl_if session.var.adminOn>
<tmpl_var controls>
</tmpl_if>
<span class="crumbTrail">
<tmpl_loop page_loop>
<a class="crumbTrail" 
   <tmpl_if page.newWindow></tmpl_if>
   href="<tmpl_var page.url>"><tmpl_var page.menuTitle></a>
   <tmpl_unless "__last__"> &gt; </tmpl_unless>
</tmpl_loop>
</span>