#PBtmpl0000000000000004
<h2>
	<tmpl_var title>
</h2>

<tmpl_var account.message>
<tmpl_if account.form.karma>
<br /><br />
<table>
<tr>
	<td class="formDescription">
		<tmpl_var account.form.karma.label>
	</td>
	<td class="tableData">
	 	<tmpl_var account.form.karma>
	</td>
</tr>
</table>
</tmpl_if>

<div class="accountOptions">
	<ul>
		<tmpl_loop account.options>
			<li><tmpl_var options.display></li>
		</tmpl_loop>
	</ul>
</div>
