#PBtmpl0000000000000064

<h2><tmpl_var title></h2>

<tmpl_if user.canViewReports>
	<a href="<tmpl_var survey.url>"><tmpl_var survey.label></a> 
	&bull;
	<a href="<tmpl_var report.overview.url>"><tmpl_var report.overview.label></a> 
	&bull;
	<a href="<tmpl_var report.gradebook.url>"><tmpl_var report.gradebook.label></a> 
</tmpl_if>
<a href="<tmpl_var delete.url>"><tmpl_var delete.label></a><p/>
<b><tmpl_var start.date.label>:</b> <tmpl_var start.date.human> <tmpl_var start.time.human><br />
<b><tmpl_var end.date.label>:</b> <tmpl_var end.date.human> <tmpl_var end.time.human><br />
<b><tmpl_var duration.label>:</b> <tmpl_var duration.minutes> <tmpl_var duration.minutes.label> <tmpl_var duration.seconds> <tmpl_var duration.seconds.label>

<p/>
<tmpl_loop question_loop>

               <b><tmpl_var question></b><br />
                  <table class="tableData" width="100%">
<tmpl_if question.isRadioList>
               
    <tr><td valign="top" class="tableHeader" style="width:25%;">
                               <tmpl_var answer.label></td><td style="width:75%">
                   <tmpl_var question.answer>                       
</td></tr>
        </tmpl_if>
               <tr><td style="width:25%" valign="top" class="tableHeader"><tmpl_var response.label></td>
               
<td style="width:75%"><tmpl_var question.response></td></tr>
                <tmpl_if question.comment>
                        <tr><td valign="top" class="tableHeader">
                                <tmpl_var comment.label> </td>
                                <td><tmpl_var question.comment></td></tr>
               </tmpl_if>

       </table><p/>
</tmpl_loop>