#PBtmpl0000000000000119
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>



<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<table width="100%" class="productCollateral" border="0">
<tr><td valign="top"  class="firstColumn">
<img src="^Extras;spacer.gif" alt="" width="100" height="1" /><br />
<tmpl_if brochure.url>
	<a href="<tmpl_var brochure.url>"><img src="<tmpl_var brochure.icon>" alt="<tmpl_var brochure.icon>" class="noBorder" align="absmiddle" /><tmpl_var brochure.label></a><br />
</tmpl_if>
<tmpl_if manual.url>
	<a href="<tmpl_var manual.url>"><img src="<tmpl_var manual.icon>" alt="<tmpl_var manual.icon>" class="noBorder" align="absmiddle" /><tmpl_var manual.label></a><br />
</tmpl_if>
<tmpl_if warranty.url>
	<a href="<tmpl_var warranty.url>"><img src="<tmpl_var warranty.icon>" alt="<tmpl_var warranty.icon>" class="noBorder" align="absmiddle" /><tmpl_var warranty.label></a><br />
</tmpl_if>
<br />
<div class="centered">
<tmpl_if thumbnail1>
	<a href="<tmpl_var image1>"><img src="<tmpl_var thumbnail1>" alt="<tmpl_var thumbnail1>" class="noBorder" /></a><p />
</tmpl_if>
<tmpl_if thumbnail2>
	<a href="<tmpl_var image2>"><img src="<tmpl_var thumbnail2>" alt="<tmpl_var thumbnail2>" class="noBorder" /></a><p />
</tmpl_if>
<tmpl_if thumbnail3>
	<a href="<tmpl_var image3>"><img src="<tmpl_var thumbnail3>" alt="<tmpl_var thumbnail3>" class="noBorder" /></a><p />
</tmpl_if>
</div>
</td><td valign="top" class="content">
<tmpl_if description>
<tmpl_var description><p />
</tmpl_if>

<b>Specs:</b><br/>
<tmpl_if session.var.adminOn>
	<a href="<tmpl_var addSpecification.url>"><tmpl_var addSpecification.label></a><p />
</tmpl_if>
<tmpl_loop specification_loop>
	&middot;<tmpl_if session.var.adminOn><tmpl_var specification.controls></tmpl_if><b><tmpl_var specification.label>:</b> <tmpl_var specification.specification> <tmpl_var specification.units><br />
</tmpl_loop>
<p />

<b>Features:</b><br/>
<tmpl_if session.var.adminOn>
	<a href="<tmpl_var addfeature.url>"><tmpl_var addfeature.label></a><p />
</tmpl_if>
<tmpl_loop feature_loop>
	&middot;<tmpl_if session.var.adminOn><tmpl_var feature.controls></tmpl_if><tmpl_var feature.feature><br />
</tmpl_loop>
<p />

<b>Options:</b><br />
<tmpl_if session.var.adminOn>
	<a href="<tmpl_var addaccessory.url>"><tmpl_var addaccessory.label></a><p />
</tmpl_if>
<tmpl_loop accessory_loop>
	&middot;<tmpl_if session.var.adminOn><tmpl_var accessory.controls></tmpl_if><a href="<tmpl_var accessory.url>"><tmpl_var accessory.title></a><br />
</tmpl_loop>

</td></tr>
</table>


~~~
<style type="text/css">
.productCollateral {
	border:solid gray 1px;
}
.productCollateral td {
	font-size:9pt;
	font-family:arial;
}
.productCollateral .firstColumn {
	width:100px;
	border:solid gray 1px;
}
.productCollateral .content {
	width:100%;
}
.productCollateral .centered {
	text-align:center;
}
h2 {
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}
.noBorder {
	border:none;
}
</style>