#PBtmpl0000000000000012
<h2>
   <tmpl_var title>
</h2>

<tmpl_if expired.message>
   <tmpl_var expired.message>
</tmpl_if>

<tmpl_var expired.form.header>
<table >
<tmpl_var expired.form.hidden>
<tr>
   <td class="formDescription" valign="top">
      <tmpl_var expired.form.oldPassword.label>
   </td>
   <td class="tableData">
      <tmpl_var expired.form.oldPassword>
   </td>
</tr>
<tr>
   <td class="formDescription" valign="top">
      <tmpl_var expired.form.password.label>
   </td>
   <td class="tableData">
      <tmpl_var expired.form.password>
   </td>
</tr>
<tr>
   <td class="formDescription" valign="top">
  <tmpl_var expired.form.passwordConfirm.label>
   </td>
   <td class="tableData">
   <tmpl_var expired.form.passwordConfirm>
   </td>
</tr>
<tr>
   <td class="formDescription" valign="top"></td>
   <td class="tableData">
   <tmpl_var expired.form.submit>
   </td>
</tr>
</table>
<tmpl_var expired.form.footer>