#PBtmpl0000000000000137
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>WebGUI <tmpl_var session.webgui.version>-<tmpl_var session.webgui.status> Admin Console</title>
	<link rel="icon" href="^Extras;favicon.png" type="image/png" />
	<link rel="shortcut icon" href="^Extras;favicon.ico" />
	<tmpl_var head.tags>
</head>
<body>
	<tmpl_var body.content>
</body>
</html>
