#PBtmpl0000000000000021
<a href="<tmpl_var back.url>"><tmpl_var back.label></a>
<tmpl_if session.var.adminOn>
<p><tmpl_var controls></p>
</tmpl_if><p />
<table width="100%">
<tr>
<td class="tableHeader">Entry ID</td>
<tmpl_loop field_loop>
  <tmpl_unless field.isMailField>
    <td class="tableHeader"><tmpl_var field.label></td>
  </tmpl_unless field.isMailField>
</tmpl_loop field_loop>
<td class="tableHeader">Submission Date</td>
</tr>
<tmpl_loop record_loop>
<tr>
  <td class="tableData"><a href="<tmpl_var record.edit.url>"><tmpl_var record.entryId></a></td>
  <tmpl_loop record.data_loop>
    <tmpl_unless record.data.isMailField>
       <td class="tableData"><tmpl_var record.data.value></td>
     </tmpl_unless record.data.isMailField>
  </tmpl_loop record.data_loop>
  <td class="tableData"><tmpl_var record.submissionDate.human></td>
</tr>
</tmpl_loop record_loop>
</table>