#EventManagerTmpl000001
#title:Default Event Management System
#menuTitle:Default Event Management System
#url:default-ems-template
#namespace:EventManagementSystem
#create
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
        <p><tmpl_var controls></p><br /><br />
</tmpl_if>
<ul>
<tmpl_if canManageEvents>
   <li><a href='<tmpl_var manageEvents.url>'><tmpl_var manageEvents.label></a></li>
</tmpl_if>
<li><a href='<tmpl_var managePurchases.url>'><tmpl_var managePurchases.label></a></li>
<li><a href="<tmpl_var checkout.url>"><tmpl_var checkout.label></a></li>
</ul>

<table width="100%" border="1" cellpadding="8" cellspacing="0" style="border-top:solid gray 2px;border-bottom:solid gray 2px;">
<tmpl_loop events_loop>
<tr>
	<td valign="top" colspan="7"><tmpl_var event></td>
</tr>
</tmpl_loop>
</table>
<tmpl_var paginateBar>
	
~~~
<style type="text/css">
tr.oddRow td {
	background-color:#DADADA;
	border-right:solid gray 1px;
}
tr.evenRow td {
	background-color:#E8E8E8;
	border-right:solid gray 1px;
}
.manageEvents {
	margin-top:5px;
	margin-bottom:5px;
}
.datacardtitle {
	background: #3D5690;
	color: white;
	font-family: verdana;
	font-weight: bold;
	font-size:13px;
}

.leftnav{
	padding: 1px 1px 1px 1px;
	background: white;
	color: black;
	font-family: verdana;
	font-weight: bold;
	font-size:11px;
	border: 2px #3D5690 ridge;
}
.leftnavon{
	padding: 1px 1px 1px 1px;
	background: yellow;
	color: black;
	font-family: verdana;
	font-weight: bold;
	font-size:11px;
	border: 2px #3D5690 ridge;
}
.calendartitle {
	background: #3D5690;
	color: white;
	font-family: verdana;
	font-weight: bold;
	font-size:11px;
}
.filter-select {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: black;
	width: 105px;
}
.compare-select {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: black;
	width: 76px;
}
.filter-text {
	font-family: verdana;
	font-size: 10px;
	font-weight: normal;
	color: black;
	width: 114px;
}
.smLink {
   font-family: verdana;
   font-size: 10px;
   font-weight: normal;
   color: blue;
}

#extendedSearchLayer {display: inline;}

</style>
