#PBtmpl0000000000000105
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
	<p />
</tmpl_if>

<tmpl_if session.var.adminOn>
	<a href="<tmpl_var addevent.url>"><tmpl_var addevent.label></a>
	<p />
</tmpl_if>

<tmpl_loop month_loop>
	<table border="0" class="calendarSmall">
	<tr><td colspan=7 class="tableHeader"><tmpl_var month> <tmpl_var year></td></tr>
	<tr>
	<tmpl_if session.user.firstDayOfWeek>
		<th class="tableData"><tmpl_var monday.label.short></th>
		<th class="tableData"><tmpl_var tuesday.label.short></th>
		<th class="tableData"><tmpl_var wednesday.label.short></th>
		<th class="tableData"><tmpl_var thursday.label.short></th>
		<th class="tableData"><tmpl_var friday.label.short></th>
		<th class="tableData"><tmpl_var saturday.label.short></th>
		<th class="tableData"><tmpl_var sunday.label.short></th>
	<tmpl_else>
		<th class="tableData"><tmpl_var sunday.label.short></th>
		<th class="tableData"><tmpl_var monday.label.short></th>
		<th class="tableData"><tmpl_var tuesday.label.short></th>
		<th class="tableData"><tmpl_var wednesday.label.short></th>
		<th class="tableData"><tmpl_var thursday.label.short></th>
		<th class="tableData"><tmpl_var friday.label.short></th>
		<th class="tableData"><tmpl_var saturday.label.short></th>
	</tmpl_if>
	</tr><tr>
	<tmpl_loop prepad_loop>
		<td>&nbsp;</td>
	</tmpl_loop>
 	<tmpl_loop day_loop>
		<tmpl_if isStartOfWeek>
			<tr>
		</tmpl_if>
		<td class="table<tmpl_if isToday>Today<tmpl_else>Data</tmpl_if>" valign="top" align="left"><p><b>
				<tmpl_if hasEvents>
					<a href="<tmpl_var url>"><tmpl_var day></a>
				<tmpl_else>
					<tmpl_var day>
				</tmpl_if>
		</b></p></td>
		<tmpl_if isEndOfWeek>
			</tr>
		</tmpl_if>
	</tmpl_loop>
	<tmpl_loop postpad_loop>
		<td>&nbsp;</td>
	</tmpl_loop>
	</tr>
	</table>
</tmpl_loop>

<tmpl_if pagination.pageCount.isMultiple>
	<div class="pagination">
		<tmpl_var pagination.previousPage> &middot; <tmpl_var pagination.pageList.upTo20> &middot; <tmpl_var pagination.nextPage>
	</div>
</tmpl_if>


~~~
.pagination
{
	-moz-box-sizing:border-box;
	background:#C0C0C0;
	width:330px;
	text-align:center;
	padding:3px;
	font-size:9pt;
	font-family:arial;
	margin-bottom:5px;
}

.pagination a
{
	color:white;
}

.fontSettings
{
	font-family:arial;
	font-size:9pt;
}

h2
{
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}

.calendarSmall
{
	width:330px;
}

.calendarSmall .tableHeader
{
	text-align:center;
	font-size:13pt;
	letter-spacing:2px;
	background-color:#DADADA;
}

.calendarSmall .tableData
{
	width:14%;
}

.calendarSmall .tableToday
{
	font-size:9pt;
	font-family:arial;
	background-color:#DADADA;
}	

.calendarSmall .tableToday a
{
	color:#29587E;
}

.calendarSmall td
{
	border:solid silver 1px;
}
