#TimeTrackingTMPL000002
#title:Default Time Tracking Manager View
#menuTitle:Default Time Tracking Manager View
#url:default-tt-template-manager
#namespace:TimeTracking_manager
#create

This is the Manager's View

~~~
	