#PBtmpl0000000000000014
<h2>
   <tmpl_var title>
</h2>


<tmpl_if recover.message>
   <tmpl_var recover.message>
</tmpl_if>

<tmpl_var recover.form.header>
<tmpl_var recover.form.hidden>
<table>
<tr>
   <td class="formDescription" valign="top"><tmpl_var recover.form.email.label></td>
   <td class="tableData"><tmpl_var recover.form.email></td>
</tr>
<tr>
   <td class="formDescription" valign="top"></td>
   <td class="tableData"><tmpl_var recover.form.submit></td>
</tr>
</table>
<tmpl_var recover.form.footer>


<div class="accountOptions">
   <ul>
       <tmpl_if anonymousRegistration.isAllowed>
	     <li><a href="<tmpl_var createAccount.url>"><tmpl_var createAccount.label></a></li>
	  </tmpl_if>
         <li><a href="<tmpl_var login.url>"><tmpl_var login.label></a></li>
      
   </ul>
</div>