#PBtmpl0000000000000107
<a href="<tmpl_var file.url>"><img src="<tmpl_var file.icon>" alt="<tmpl_var file.icon>" style="border-style:none;vertical-align:middle;" /><tmpl_var file.name></a>(<tmpl_var file.size>)