#TimeTrackingTMPL000001
#title:Default Time Tracking User View
#menuTitle:Default Time Tracking User View
#url:default-tt-template-user
#namespace:TimeTracking_user
#create
<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<div class="fontSettings">
		<tmpl_var description>
	</div>
</tmpl_if>

<script language="JavaScript">
   var rowTotal = <tmpl_var time.report.rows.total>;
</script>

<tmpl_var form.header>
<tmpl_var form.timetracker>
<tmpl_var form.footer>

~~~
	<style type="text/css">
		.timeTracking02 {			
			width:750px;
		}
		.timeTracking02 td {
			border:solid silver 1px;
			border-bottom:solid gray 1px;
			font-size:9pt;
			font-family:arial;			
		}
		tr.title td {
			font-weight:bold;			
			background-color:#F0F0F0;
			border-style:none;
			font-size:11pt;
		}
		tr.header td {
			font-weight:bold;
			text-align:center;		
		}
		tr.empty td {
			border-style:none;
		}
	</style>