#PBtmpl0000000000000017
<tmpl_if pluginsAvailable>
   <tmpl_var message><br />
    <tmpl_var formHeader>
       <table border="0" cellspacing="0" cellpadding="5">
    <tmpl_loop pluginLoop>
            <tr>
                        <td><tmpl_var formElement></td>
                     <td align="left"><tmpl_var name></td>
           </tr>
       </tmpl_loop>
        </table>
    <tmpl_var formSubmit>
    <tmpl_var formFooter>
<tmpl_else>
 <tmpl_var noPluginsMessage>
</tmpl_if>