#PBtmpl0000000000000057
<h2><tmpl_var title></h2>

<p>
<tmpl_var question>
</p>

<div style="text-align:center">

<a href="<tmpl_var yes.url>"><tmpl_var yes.label></a>

&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 

<a href="<tmpl_var no.url>"><tmpl_var no.label></a>

</div>
