#PBtmpl0000000000000123
<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displaytitle>
	<tmpl_if linkurl><a href="<tmpl_var linkurl>"></tmpl_if><span class="itemTitle"><tmpl_var title></span><tmpl_if linkurl></a></tmpl_if>
</tmpl_if>

<tmpl_if attachment.name>
	<tmpl_if displaytitle> - </tmpl_if>
	<p style="display:inline;vertical-align:middle;"><a href="<tmpl_var attachment.url>"><img src="<tmpl_var attachment.icon>" style="vertical-align:middle;border: 0px;" alt="<tmpl_var attachment.name>" /></a></p>
</tmpl_if>

<tmpl_if description>
  - <tmpl_var description>
</tmpl_if>
