#matrixtmpl000000000004
<h2>Rating Detail</h2>

<table class="content" cellpadding="5" width="60%">
<tbody>
<tmpl_loop rating_loop>
<tmpl_if __ODD__>
<tr>
</tmpl_if>

	<td style="width:50%" valign="top">
	<h2><tmpl_var category></h2>

	<table class="content">
	<tbody>
	<tr><th>Listing</th><th>Mean</th><th>Median</th><th>Count</th></tr>
	<tmpl_loop detail_loop>

	<tr>
	<td><a href="<tmpl_var url>"><tmpl_var name></a></td>
	<td><tmpl_var mean></td>
	<td><tmpl_var median></td>
	<td><tmpl_var count></td>
	</tr>

	</tmpl_loop>
	</tbody>
	</table>
	</td>

<tmpl_if __EVEN__>
</tr>
</tmpl_if>
</tr>
</tmpl_loop>

</tbody>
</table>
