#CalendarPrintEvent0001
#create
#namespace:Calendar/Print/Event
#url:default-calendar-print-event
#title:Default Calendar Print Event
#menuTitle:Default Calendar Print Event
<div class="calHeader">
	<tmpl_var title>
</div>		

<table id="printableCal" width="100%" cellspacing="2" cellpadding="0">
<tr>
	<td class="heading">
		<div style="padding:4px;">Location</div>
	</td>
	<td class="day">	
		<div class="eventWrapper">
			<tmpl_var location>
		</div>
	</td>
</tr>

<tr>
	<td class="heading">
		<div style="padding:4px;">Description</div>
	</td>
	<td class="day">							
		<div class="eventWrapper"><tmpl_var description></div>
	</td>
</tr>

<tr>
	<td class="heading">
		<div style="padding:4px;">Scheduled</div>
	</td>
	<td class="day">							
		<div class="eventWrapper">
			<tmpl_var startDateDayName>,
			<tmpl_var startDateMonthName>
			<tmpl_var startDateDayOfMonth>
			<tmpl_var startDateHour>:<tmpl_var startDateMinute> <tmpl_var startDateM> &bull; <tmpl_var endDateDayName>, 
			<tmpl_var endDateMonthName>
			<tmpl_var endDateDayOfMonth>
			<tmpl_var endDateHour>:<tmpl_var endDateMinute> <tmpl_var endDateM>
		</div>
	</td>
</tr>

<tr>
	<td class="heading">
		<div style="padding:4px;">Related Material</div>
	</td>
	<td class="day">								<div class="eventWrapper"><tmpl_loop relatedLinks>
		<a href="<tmpl_var link.url>"><tmpl_var linkUrl></a><br />
		</tmpl_loop></div>
	</td>
</tr>

</table>
~~~
	<style type="text/css">
	.calHeader {
		font-size:22px;
		font-weight:bold;
		text-align:right;		
		border-bottom:double #666 3px;
		width:65%;
		font-family:arial;
	}	
	#printableCal {
		font-family:arial;
		font-size:13px;
		width:65%;
		border:solid #aaa 1px;
		border-top-style:none;
	}
	#printableCal .label {
		font-weight:bold;
		font-size:13px;
		vertical-align:top;
		width:15%;
	}
	#printableCal ul {
		margin:0px;
		padding:0px;
		padding-left:16px;
	}
	#printableCal .alt {
		background-color:#eee;
	}
	.calFooter {
		width:65%;
		text-align:center;
		font-size:10px;
		font-family:arial;
	}
	</style>
