@import "tabs-position.css";
.tab {
	display: inline; 
	text-decoration: none;
	margin-right: 3px;
	font-weight: bold;
         padding: 2px 9px 1px 9px;
         z-index: 100;
         border-bottom-width: 0;
          border-top-width: 1px !important;
          border-bottom-width: 0px !important;
}

.tabBody {
	width: auto;
         padding: 8px 12px 12px 12px;
         z-index: 0;
     }

div.tabs {
        top: 2px;
        left: 8px;
/*         white-space: nowrap;*/
         cursor: default !important;
         z-index: 10000;
}

.tabHover {
         z-index: 1200;
         border-bottom-width: 0;
}

.tabActive {
         padding: 3px 9px 3px 9px;
         z-index: 10000;
         background: white;
         top: -2px;
         position: relative;
}


