.list {list-style:square;width:500px;padding-left:16px;}
.list li{padding:2px;font-size:8pt;}

/* hide the tab content while loading */
.tab-content{display:none;}

pre {
   font-size:11px; 
}

#tabs1 {width:400px;}
#tabs1 .yui-ext-tabbody {border:1px solid #999;border-top:none;}
#tabs1 .yui-ext-tabitembody {display:none;padding:10px;}

#jtabs {width:600px;}
#jtabs .yui-ext-tabbody {border:1px solid #999;border-top:none; height:200px;overflow:auto;}
#jtabs .yui-ext-tabitembody {display:none;padding:10px;font-size:11px;}

/* default loading indicator for ajax calls */
.loading-indicator {
	font-size:8pt;
	background-image:url('../../resources/images/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
}