#PBtmpl0000000000000022

<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<p><tmpl_var controls></p>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<div class="fontSettings">
		<tmpl_var description>
	</div>
</tmpl_if>

<tmpl_if session.var.adminOn>
	<a href="<tmpl_var addevent.url>"><tmpl_var addevent.label></a>
	<p />
</tmpl_if>

<tmpl_loop month_loop>
	<br />
	<table width="100%" class="calendarBig">
	<tr><td colspan="7" class="tableHeader"><tmpl_var month> <tmpl_var year></td></tr>
	<tr>
	<tmpl_if session.user.firstDayOfWeek>
		<th class="tableData"><tmpl_var monday.label></th>
		<th class="tableData"><tmpl_var tuesday.label></th>
		<th class="tableData"><tmpl_var wednesday.label></th>
		<th class="tableData"><tmpl_var thursday.label></th>
		<th class="tableData"><tmpl_var friday.label></th>
		<th class="tableData"><tmpl_var saturday.label></th>
		<th class="tableData"><tmpl_var sunday.label></th>
	<tmpl_else>
		<th class="tableData"><tmpl_var sunday.label></th>
		<th class="tableData"><tmpl_var monday.label></th>
		<th class="tableData"><tmpl_var tuesday.label></th>
		<th class="tableData"><tmpl_var wednesday.label></th>
		<th class="tableData"><tmpl_var thursday.label></th>
		<th class="tableData"><tmpl_var friday.label></th>
		<th class="tableData"><tmpl_var saturday.label></th>
	</tmpl_if>
	</tr><tr>
	<tmpl_loop prepad_loop>
		<td>&nbsp;</td>
	</tmpl_loop>
 	<tmpl_loop day_loop>
		<tmpl_if isStartOfWeek>
			<tr>
		</tmpl_if>
		<td class="table<tmpl_if isToday>Today<tmpl_else>Data</tmpl_if>" valign="top" align="left"><p><b><tmpl_var day></b></p>
		<tmpl_loop event_loop>
			<tmpl_if name>
				&middot;<a href="<tmpl_var url>"><tmpl_var name></a><br />
			</tmpl_if>
		</tmpl_loop>
		</td>
		<tmpl_if isEndOfWeek>
			</tr>
		</tmpl_if>
	</tmpl_loop>
	<tmpl_loop postpad_loop>
		<td>&nbsp;</td>
	</tmpl_loop>
	</tr>
	</table>
</tmpl_loop>

<tmpl_if pagination.pageCount.isMultiple>
	<div class="pagination">
		<tmpl_var pagination.previousPage> <tmpl_var pagination.pageList.upTo20> <tmpl_var pagination.nextPage>
	</div>
</tmpl_if>

~~~

<style type="text/css">
.pagination
{
	-moz-box-sizing:border-box;
	background:#C0C0C0;
	width:100%;
	text-align:center;
	padding:3px;
	font-size:9pt;
	font-family:arial;
	margin-bottom:5px;
}

.pagination a
{
	color:white;
}

.fontSettings
{
	font-family:arial;
	font-size:9pt;
}

h2
{
	font-family:arial;
	margin-top:3px;
	margin-bottom:3px;
}

.calendarBig
{
	/*border:solid gray 1px;*/
}

.calendarBig .tableHeader
{
	text-align:center;
	font-size:13pt;
	letter-spacing:2px;
	background-color:#DADADA;
}

.calendarBig .tableData
{
	width:14%;
}

.calendarBig .tableToday
{
	font-size:9pt;
	background-color:#DADADA;
}	

.calendarBig .tableToday a
{
	color:#29587E;
}

.calendarBig td
{
	border:solid silver 1px;
}
</style>
