# Create preload.exclude in your WebGUI/sbin directory and add modules to it
# that you don't want to be loaded by modperl. This will decrease the overall
# size of your modperl instances, which will increase performance, and reduce
# memory use.
WebGUI::Cache::Database
WebGUI::Auth::LDAP
WebGUI::Asset::Wobject::WSClient
WebGUI::Asset::File::ZipArchive
WebGUI::Asset::Template::HTMLTemplateExpr
WebGUI::Asset::Template::TemplateToolkit
WebGUI::Asset::Wobject::Matrix
WebGUI::Asset::Wobject::HttpProxy
WebGUI::Asset::Wobject::Product
WebGUI::Asset::Wobject::Survey
WebGUI::Asset::Wobject::InOutBoard
WebGUI::Asset::Wobject::Dashboard
WebGUI::Asset::Wobject::EventManagementSystem
WebGUI::Asset::Wobject::ProjectManager
WebGUI::Asset::Wobject::SyndicatedContent
WebGUI::Asset::Wobject::WSClient
WebGUI::Asset::Wobject::MultiSearch
WebGUI::Commerce
WebGUI::Commerce::Item
WebGUI::Commerce::Item::Product
WebGUI::Commerce::Item::Subscription
WebGUI::Commerce::Payment
WebGUI::Commerce::Payment::ITransact
WebGUI::Commerce::Shipping
WebGUI::Commerce::Shipping::ByPrice
WebGUI::Commerce::Shipping::ByWeight
WebGUI::Commerce::Shipping::PerTransaction
WebGUI::Commerce::ShoppingCart
WebGUI::Commerce::Transaction
WebGUI::Subscription
WebGUI::Operation::TransactionLog
WebGUI::Operation::Commerce
WebGUI::Operation::Subscription
WebGUI::Macro::AOIHits
WebGUI::Macro::AOIRank
WebGUI::Macro::AdminText
WebGUI::Macro::CanEditText
WebGUI::Macro::EditableToggle
WebGUI::Macro::Execute
WebGUI::Macro::FormParam
WebGUI::Macro::GroupAdd
WebGUI::Macro::GroupDelete
WebGUI::Macro::GroupText
WebGUI::Macro::Include
WebGUI::Macro::LastModified
WebGUI::Macro::Product
WebGUI::Macro::Quote
WebGUI::Macro::RootTitle
WebGUI::Macro::SQL
WebGUI::Macro::Splat_random
WebGUI::Macro::SubscriptionItem
WebGUI::Macro::SubscriptionItemPurchaseUrl
WebGUI::Macro::URLEncode
