#ProjectManagerTMPL0004

<tmpl_var form.header><tmpl_var form.seqNum>
<table class="popUp" cellspacing="0" cellpadding="3" border="0">
<tbody>
<tr>
        <td align="right" style="width:25%;" class="header"><tmpl_var task_name_label>&nbsp;</td>
        <td style="width:75%;"><tmpl_var form.name></td>
</tr>
<tr>
        <td colspan="2">
                <table width="100%" cellpadding="3" cellspacing="0">
                <tbody>
                <tr class="clear">
                        <td style="width:25%;" align="right" class="header"><tmpl_var task_start_label>&nbsp;</td>
                        <td style="width:25%;"><tmpl_var form.start></td>
                        <td style="width:25%;" align="right" class="header"><tmpl_var task_finish_label>&nbsp;</td>
                        <td style="width:25%;"><tmpl_var form.end></td>
                </tr><tr class="clear">
			<td style="width:100%; text-align: center" colspan="4" class="header"><tmpl_var form.taskType></td>
		</tr>
                </tbody>
                </table>
        </td>
</tr>
<tr>
        <td colspan="2">
                <table width="100%" cellpadding="3" cellspacing="0">
                <tbody>
                <tr class="clear">
                        <td style="width:25%; text-align:right" class="header"><tmpl_var task_duration_label>&nbsp;</td>
                        <td style="width:25%;"><tmpl_var form.duration>&nbsp;<tmpl_var form.duration.units></td>
                        <td style="width:25%; text-align:right" class="header"><tmpl_var task_lagTime_label> &nbsp;</td>
                        <td style="width:25%;"><tmpl_var form.lagTime>&nbsp;<tmpl_var form.lagTime.units></td>
                </tr>
                </tbody>
                </table>
        </td>
</tr>
<tr>
        <td colspan="2">
                <table width="100%" cellpadding="3" cellspacing="0">
                <tbody>
                <tr class="clear">
                        <td style="width:25%;" align="right" class="header"><tmpl_var task_predecessor_label>&nbsp;</td>
                        <td style="width:25%;"><tmpl_var form.dependants></td>
                        <td style="width:25%;" align="right" class="header"><tmpl_var task_complete_label>&nbsp;</td>
                        <td style="width:25%;"><tmpl_var form.percentComplete></td>
                </tr>
                </tbody>
                </table>
        </td>
</tr>

<tr>
        <td colspan="2">
                <table width="100%" cellpadding="3" cellspacing="0">
                <tbody>
                <tr class="clearNoBG" style="text-align:center;">
                        <td style="text-align:left;">
                           <span class="header"><tmpl_var task_resource_label>:</span><br /><br />
                           <span style="margin-bottom:2px;padding-bottom:2px;padding-left:5px;-moz-box-sizing:border-box;display:block;">
                              <a style="text-decoration:none;" id="<tmpl_var form.addUser.id>" href="<tmpl_var form.addUser.link>" target="_new" onclick="taskEdit_searchPopup(this.href); return false;"><img style="border-style:none;vertical-align:middle;" title="<tmpl_var form.addUser.text>" alt="<tmpl_var form.addUser.text>" src="<tmpl_var assetExtras>/users.gif" /><span style="text-decoration:none;font-size:8pt;"> <tmpl_var form.addUser.text></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                              <a style="text-decoration:none;" id="<tmpl_var form.addGroup.id>" href="<tmpl_var form.addGroup.link>" target="_new" onclick="taskEdit_searchPopup(this.href); return false;"><img style="border-style:none;vertical-align:middle;" title="<tmpl_var form.addGroup.text>" alt="<tmpl_var form.addGroup.text>" src="<tmpl_var assetExtras>/groups.gif" /><span style="text-decoration:none;font-size:8pt;"> <tmpl_var form.addGroup.text></span></a>
                           </span><tmpl_var form.resourceDiv>
                        </td>
                </tr>
                <tr>
                        <td style="text-align:right;" class="header"><a href="javascript:void(checkEditTaskForm(document.editTaskForm))" class="saveBtn"><tmpl_var task_save_label></a></td>
                </tr>
                </tbody>
                </table>
        </td>
</tr>


</tbody>
</table>
<tmpl_var form.footer>

~~~

<style type="text/css">
.PM_small {
	font-size:8pt;
}
tr.clearNoBG a {
	text-decoration:none;
	color:navy;
}
</style>
