.bsTabset {
   border-top: 1px solid white;
   border-left: 1px solid white;
   border-right: 2px outset;
   font-family:arial,helvetica,sans-serif;
   font-size: 12px;
   background-color:#D6D3CE;
}
.bsTabsetActive {
   border-bottom: 1px solid #D6D3CE;
   cursor: default;
   padding-top:3px;
   padding-bottom:2px;
   vertical-align:middle;
   padding-left:5px;
   padding-right:5px;
   margin-left:-2px;
   margin-right:-0px;
}
.bsTabsetInactive {
   border-bottom: 1px solid white;
   cursor: hand; cursor:pointer;
   padding-top:1px;
   padding-bottom:0px;
   vertical-align : bottom;
   padding-left:3px;
   padding-right:3px;
   margin-left:0px;
   margin-right:0px;
   background-color:#9F988C;
}
.tabsetContentDiv {
   background-color:#D6D3CE;
   border-left:1px solid white;
   border-bottom:2px outset;
   border-right:2px outset;
   padding:2px;
}
.tabsetTabsDiv {
   border-bottom:1px solid white;
   background-color:transparent;
} 