		.active-controls-grid {height: 100%; font: menu;}
		.active-column-0 {width:  50px; background-color: threedlightshadow; cursor:move;}
		.active-column-1 {width: 200px; cursor:move;}
		.active-column-2 {text-align: right; cursor:move;}
		.active-column-3 {text-align: right;cursor:move;}
		.active-column-4 {text-align: right;cursor:move;}
		
		.active-box-image {height: 16px;} /* for firefox 0.8 */		
		.active-row-highlight {background-color: threedshadow}
  		.active-row-highlight .active-row-cell {background-color: threedshadow}
		.active-image-gif {height: 16px; background-color:red} /* for firefox 0.8 */		
		
		
		.contextMenu{position: absolute; top: 0; left:0; font-size: 12px; display:none; text-decoration: none; background-color:#F0F0F0; border-bottom: 3px groove #999999; border-top: 0px groove #999999; border-right: 3px groove #999999; border-left: 0px groove #999999;}
		.contextMenu A{ font-size: 12px; text-decoration: none;}
		.contextMenuTabOver{background-color: darkblue; text-decoration: none; width:100%; color: #ffffff; font-size: 12px;}
		.contextMenuTab, .contextMenuTab A{background-color: #F0F0F0; width:100%; text-decoration: none; font-size: 12px; color:#000000;}
  		
		.propertiesWindow{position:absolute; display:none; background-color:#F2F2F2;}
		.propertiesWindowDrag{position:absolute; background-image: url(/images/transparent.gif)}
		.propertiesMenuName{font-weight:700; font-size:12px}
		.propertiesMenuValue{font-size:12px;}  				
	
		.dragIdentifier{position:absolute; display: none; border: 3px dotted black; font-size: 12;}

