#stevestyle000000000003
#title:Style 03
#menuTitle:Style 03
#url:style_03
#namespace:style
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<tmpl_var head.tags>
	<title>^c; - ^Page(title);</title>
	<link href="/style3/css03.css" rel="stylesheet" type="text/css" />
</head>
<body>
^AdminBar();

^AssetProxy(coolmenu);

<div id="main">
	<div id="header">
		<div id="headerTitle">
			<div id="headerRight">
				<div id="login">					^L("","","PBtmpl0000000000000092"); &middot; ^AdminToggle;				</div>
				<div id="title">
					<h1>^H(^c;);</h1>
					<h2>^Page(title);</h2>
				</div>
				<a href="http://www.plainblack.com/weggui">^AssetProxy(style3/wg.jpg);</a><br />
			</div>
		</div>
	</div>
	
	<div id="mainBody">
		<div id="contentArea">
			<tmpl_var body.content>
		</div>
		<div id="topCorner">
			^AssetProxy(style3/main_top.jpg);
		</div>
		<div id="bottomCorner"></div>
	</div>
	
	<div id="footer">
		<div id="copyright">
			&copy; ^D(%y); ^c;
		</div>
		<a href="http://www.plainblack.com">^AssetProxy(style3/pb.jpg);</a><br />
	</div>
</div>


</body>
</html>
