<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html>
<head>
	<tmpl_var head.tags>
	<title>^c; - ^Page(title);</title>	
</head>
<body>

	^AdminBar("PBtmpl0000000000000090");
	^AssetProxy(coolmenu);
	
	<div id="header">		<div id="titles">			<div id="login">				^L("","","PBtmpl0000000000000092"); &middot; ^AdminToggle;			</div>
			<h1>^c;</h1><br />
			<h2>^Page(title);</h2>
		</div>
	</div>
	<div style="clear:both"></div>
	<div id="main">
		<div id="mainBody">
			<tmpl_var body.content>
		</div>
		<div id="topCorner"></div>
		<div id="bottomCorner"></div>
	</div>
	<div id="footer">
		^AssetProxy(style3/footer_right.jpg);
	</div>	
</body>
</html>	

~~~
^AssetProxy(css03.css);