body {
    margin: 0;
    background-image: url(http://casr.ou.edu/root/import/survey/spacer.gif);
    background-repeat: repeat-y;
    background-position: 0px 0px;
}
.header {
    width: 80%;
    height: 40px;
    margin-left: 80px;
}
#survey {
    margin-left: 80px;
    width: 85%;
}


div.dateanswer {
    min-height: 250px;
}
div.slider-bg {
    position: relative;
    background:url(/extras/wobject/Survey/bg-fader-500.gif) 5px 0 no-repeat;
    height:68px;
    width:529px; 
}
div.slider-thumb {
    cursor:default;
    position: absolute;
    top: 30px;
    left: 4px;
}
div.slider-min-thumb {
    cursor:default;
    position: absolute;
    top: 4px;
}
div.slider-max-thumb {
    cursor:default;
    position: absolute;
    top: 4px;
}
#headertitle {
    display: none;
}
#headertext {
    display: none;
}
#questions {
    display: none;
}
input.mcbutton{
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    background-color: #CCCCCC;
    background-repeat: repeat-x;
    text-align: center;
    display: block;
    margin: 0.5em;
    padding: .8em;
    width: 60px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
    background-image: url(/extras/wobject/Survey/gradient-glossy.png);
}
input.mcbutton:hover{
    background-color: #B6D2F1;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
}
input.mcbutton-selected{
    background-color: #172D9D;
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0.5em;
    padding: .8em;
    width: 60px;
    text-align: center;
    display: block;
    font-weight: bold;
    background-image: url(/extras/wobject/Survey/gradient-glossy.png);
    background-position: 0px 0px;
}
