
#wrapper {
    margin-left: 160px; /* move out of the adminbar's way */
    min-width:   850px; /* min width for 1024x browsers */
}

#versionTag {
    float: left;
    width: 57%;
    padding: 2px 1%;
    border: 1px solid #339;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 16px;
}

#user {
    float: right;
    width: 38%;
    padding: 2px 1%;
    border: 1px solid #339;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 16px;
}

#locationBar {
    position: relative;
    height: 2em;
    padding: 5px 0;
}

#locationBar .yui-button { 
    margin: auto 2px;
}

#locationBar #left {
    position:   absolute;
    width:      12%;
    top:        5px;
    left:       0;
}

#locationBar #right {
    position:   absolute;
    width:      10%;
    top:        5px;
    right:      0;
}

#locationBar #location {
    position:   relative;
    margin:     auto 10% auto 12%;
    width:      77%;
    height:     80%;
    border: 1px solid #333;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#locationBar #locationUrl { 
    width: 99%;
    height: 90%;
    border: none;
    font: 14px Verdana, sans-serif;
}

#locationBar #locationTitle {
    display: block;
    position: absolute;
    top:   3px;
    right: 0px;
    height: 90%;
    margin-right: 5px;
    font: 14px Verdana, sans-serif;
    text-align: right;
}

#tabBar {
    clear: both;
}

#wrapper .yui-content {
    margin: 0; padding: 0;
}

#viewTab * { 
    margin: 0; padding: 0;
}

.clickable {
    cursor: pointer;
    color: blue;
}

img.icon {
    vertical-align: baseline;
}

a:link {
    text-decoration: none;
}

#helper_asset_name {
    font-size:          14pt;
    margin-left:        5px;
    padding-left:       20px;
    background-repeat:  no-repeat;
    background-position: 0 50%;
}

#assetHelpers_pane h2 {
    font-size:          14pt;
    margin-left:        5px;
    padding-left:       20px;
    background-repeat:  no-repeat;
    background-position: 0 50%;
}

#infoMessageContainer {
    position:       absolute;
    left:           30%;
    top:            0px;
    width:          35%;
    overflow:       hidden;
}

#infoMessage {
    width:          100%;
    height:         100%;
    background-color: #ccf;
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-left:   20px;
}

#infoMessage * {
    margin: 0;
    padding: 0;
}

#clipboardItems a, #versionTagItems a {
    display: block;
    padding: 2px;
}
