body 
{
	margin: 0;
	margin-top: 0;
	padding: 0;	
}

table.dashboardColumn  
{
	width: 100%;
	background: none;
	background-color:transparent;
}
.dashboardColumn td {
	width:100%;
}

#dashboardContainer 
{
	font: 11px Lucida Grande, Verdana, Arial, Helvetica, sans serif;		
	background-color:white;
}

#dashboardChooserContainer 
{
	margin:0px;
	padding:0px;
	border:0px;
	width:100%;
}

#position1 {
	width:200px;
	max-width:200px;
	width:expression("200px");
}

#position1 td {
	margin-top:40px;
	padding:5px;
}

tbody.availableDashlet * div.content {
	display: none;
}

#availableDashlets * td {
	width:200px;
	max-width:200px;
}

#availableDashlets * div.content {
	width:200px;
	max-width:200px;
	height:0px;
	display:none;
	overflow-x:hidden;
	overflow-y:hidden;
}

#columnsContainerDiv 
{
	margin:6px;
}

td 
{
	vertical-align: top;
}

h1
{
	font: 12px Lucida Grande, Verdana, Arial, Helvetica, sans serif;	
	font-weight:bold;
	margin:0px;
	margin-bottom:3px;
}

h2
{
	font: 19px Verdana;
	margin-bottom:0px;
	padding-bottom:0px;
}

ul
{
	margin-top:2px;
	left:-10px;
	position:relative;
}

div.weatherTitle
{
	font-weight:bold;
	color:white;
}

div.content
{
	overflow-x:hidden;
	border-bottom:solid orange 1px;
	border-top:solid orange 1px;
	border-left:solid orange 1px;
	border-right:solid orange 1px;	
	margin-bottom:10px;
	padding:5px;
	padding-top:10px;
	background: #fff url('content_bg.gif') no-repeat top right;	
}

div.content a:link, div.content a:visited
{
	color:#F48117;
}

table.tableSearch
{
	background-color:#F2F2F2;
	border:solid #CCC 1px;
	width:100%;
}

table.tableSearch td select
{
	margin:0px;
	padding:0px;
}

div.dragTitle
{
	overflow-x:visible;
	background: url('dragable_bg.gif');
	width:100%;
	z-index:998;
	border:solid black 0px;
	height:22px;
	top:0px;
	left:0px;
	right:30px;
	position:absolute;
}

span.headerTitle
{
	height:22px;
	clip:rect(auto,auto,auto,auto);
	overflow:hidden;
	display:block;
	float:left;
	line-height:18px;
	z-index:999;
	margin-right:10px;
	padding-left:9px;
	padding-top:2px;
}

span.options
{
	display:block;
	position:absolute;
	top:0px;
	right:-1px;
	float:right;
	z-index:1000;
	padding-right:35px;
	background: transparent url('dragtitle_bg.gif') no-repeat top right;
}
span.options img {
	opacity:0;
	filter:alpha(opacity=0);
}
span.options:hover img {
	opacity:100;
}
span.optionsHoverIE img {
	filter:alpha(opacity=100);
}
div#availableDashlets * span.options:hover {
	opacity:0;
	filter:alpha(opacity=0);
}
div#availableDashlets * span.options {
	display:none;
	opacity:0;
	top:500px;
	filter:alpha(opacity=0);
}
div#availableDashlets * div.dragTrigger {
	background: none;
	float:none;
	margin-bottom:0px;
/*	height:auto;*/
}
div#availableDashlets * div.dragTitle {
	background:none;
/*	height:auto;*/
	overflow:hidden;
	float:none;
	background-color: #eeeeee;
	border: solid #bbbbbb 1px;
	color: black;
}
div#availableDashlets * span.headerTitle {
	display:block;
	width:100%;
	line-height:auto;
/*	height:22px;*/
	background: none;
}

#hideNewContentButton,#showNewContentButton {
/*	position:absolute;*/
	color: #465D94;
	font-size: 1.2em;
	font-weight: 600;
	top: 20px;
	cursor: pointer; cursor: hand;
	left: 20px;
	width:200px;
}
#availableBox {
	display:none;
/*	width:200px;
	max-width:200px;
	width:expression("200px");*/
}
#availableBox2 {
	padding-top:40px;
	border:solid navy 2px;
	height: 600px;
/*	width:200px;
	max-width:200px;
	width:expression("200px");*/
}

#availableDashlets {
/*	width:200px;
	max-width:200px;
	width:expression("200px");*/
}

.availableDashlet 
{
/*	width:200px;
	max-width:200px;
	width:expression("200px");*/
}

#availableDashlets tbody {
	height: 0px;
}
#leftBox {
	width:210px;
}
#rightBox {
	width:100%;
}