#PBtmpl0000000000000011
<h2><tmpl_var title></h2>

<tmpl_if create.message>
   <tmpl_var create.message>
</tmpl_if>

<tmpl_var create.form.header>
<tmpl_var create.form.hidden>
<table >
<tr>
   <td class="formDescription" valign="top"><tmpl_var create.form.username.label></td>
   <td class="tableData"><tmpl_var create.form.username></td>
</tr>
<tr>
   <td class="formDescription" valign="top"><tmpl_var create.form.password.label></td>
   <td class="tableData"><tmpl_var create.form.password></td>
</tr>
<tr>
   <td class="formDescription" valign="top"><tmpl_var create.form.passwordConfirm.label></td>
   <td class="tableData"><tmpl_var create.form.passwordConfirm></td>
</tr>
<tmpl_loop create.form.profile>
<tr>
   <td class="formDescription" valign="top"><tmpl_var profile.formElement.label></td>
   <td class="tableData"><tmpl_var profile.formElement></td>
</tr>
</tmpl_loop>
<tmpl_if useCaptcha>
<tr>
   <td class="formDescription" valign="top"><tmpl_var create.form.captcha.label></td>
   <td class="tableData"><tmpl_var create.form.captcha></td>
</tr>
</tmpl_if>
<tr>
    <td colspan="2">&nbsp;</td>
</tr>
<tr>
   <td class="submitData" colspan="2"><tmpl_var create.form.submit></td>
</tr>
</table>
<tmpl_var create.form.footer>

<div class="accountOptions">
   <ul>
      <li><a href="<tmpl_var login.url>"><tmpl_var login.label></a></li>
      <tmpl_if recoverPassword.isAllowed>
         <li><a href="<tmpl_var recoverPassword.url>"><tmpl_var recoverPassword.label></a></li>
      </tmpl_if>
   </ul>
</div>
~~~
<style type="text/css">
    .submitData {
        text-align:right;
        border-top:solid gray 1px;
    }
</style>

