#stevestyle000000000001
#title:Style 01
#menuTitle:Style 01
#url:style_01
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>^Page(title);</title>
	<tmpl_var head.tags>	
</head>
<body>
	^AdminBar("PBtmpl0000000000000090");
	<div id="main">
		<div id="mainHeader">
			<div id="title">
				^c();
			</div>
		</div>

		<div id="mainContent">
			<div class="mainNav_1">
				^AssetProxy(roottab);
			</div>
			<div style="clear:both;"></div>
			<div class="mainNav_2">
				^AssetProxy(roottab_level1);
			</div>
			<div id="crumbTrail">
				^AssetProxy(crumbtrail);			
			</div>
			<div style="clear:both;">&#160;</div>
			<div id="mainText">
				<tmpl_var body.content>
			</div>
			<div style="clear:both;">&#160;</div>
		</div>
		
		<div id="gui">
			^L("","","PBtmpl0000000000000044");
			<div style="clear:both;padding-right:12px;">^AdminToggle;</div>
			^AssetProxy(style1/gui_bottom.jpg);<br />
			<a href="http://www.webgui.org"><img src="^FileUrl(style1/webgui_btn.jpg);" style="border:none;" alt="WebGUI Button" /></a>
		</div>
	</div>
</body>
</html>	
~~~
^AssetProxy(style01.css);