#stevestyle000000000001
#title:Style 01
#menuTitle:Style 01
#url:style_01
#namespace:style
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>^Page(title);</title>
	<tmpl_var head.tags>	
	<link href="/style1/css01.css" rel="stylesheet" type="text/css" />	
</head>
<body>
	^AdminBar();
	<div id="main">
		<div id="mainHeader">
			<div id="title">
				^H(^c(););
			</div>
			
			<div id="copyright">
				&copy; ^D(%y); ^c;
			</div>			
		</div>

		<div id="mainContent">
			<div class="mainNav_1">
				^AssetProxy(roottab_level0);
			</div>
			<div style="clear:both;"></div>
			<div class="mainNav_2">
				^AssetProxy(roottab_level1);
			</div>
			<div id="crumbTrail">
				^AssetProxy(crumbtrail);			
			</div>
			<div style="clear:both;">&#160;</div>
			<div id="mainText">
				<tmpl_var body.content>
			</div>
			<div style="clear:both;">&#160;</div>
		</div>
		
		<div id="gui">
			^L("","","PBtmpl0000000000000044");
			<div style="clear:both;padding-right:12px;">^AdminToggle;</div>
			^AssetProxy(style1/gui_bottom.jpg);<br />
			<a href="http://www.plainblack.com/webgui"><img src="^FileUrl(style1/webgui_btn.jpg);" style="border:none;" alt="WebGUI Button" /></a>
		</div>
	</div>
</body>
</html>	
