#IOB0000000000000000002
#namespace:InOutBoard/Report
<h2><tmpl_var reportTitle></h2>
<div class="iob">
   <tmpl_var form><br />
   <tmpl_if showReport>
   <table width="100%" cellpadding="3" cellspacing="0">
   <tr>
   <th><tmpl_var username.label></th>
   <th><tmpl_var status.label></th>
   <th><tmpl_var date.label></th>
   <th><tmpl_var message.label></th>
   <th><tmpl_var updatedBy.label></th>
   </tr>
   <tmpl_loop rows_loop>
   <tmpl_if deptHasChanged>
   <tr><td colspan="5"><b><tmpl_var department></b></td></tr>
   </tmpl_if>
   <tr>
   <td><tmpl_var username></td>
   <td><tmpl_var status></td>
   <td><tmpl_var dateStamp></td>
   <td><tmpl_var message></td>
   <td><tmpl_var createdBy></td>
   </tr>
   </tmpl_loop>
   <tr><td colspan="5"><tmpl_var paginateBar></td></tr>
   </table>
   </tmpl_if>
</div>



