#PBtmpl0000000000000133

<a name="id<tmpl_var assetId>" id="id<tmpl_var assetId>"></a>

<tmpl_if session.var.adminOn>
	<tmpl_var controls>
</tmpl_if>

<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>

<tmpl_if description>
	<tmpl_var description>
</tmpl_if>

<p>
	<tmpl_if user.canPost>
		<a href="<tmpl_var add.url>"><tmpl_var add.label></a> &bull;
	</tmpl_if>
	<tmpl_unless user.isVisitor>
		<tmpl_if user.isSubscribed>
			<a href="<tmpl_var unsubscribe.url>"><tmpl_var unsubscribe.label></a>
		<tmpl_else>
			<a href="<tmpl_var subscribe.url>"><tmpl_var subscribe.label></a>
		</tmpl_if>
		<tmpl_if pagination.pageCount.isMultiple>
			&bull;
		</tmpl_if>
	</tmpl_unless>
	<tmpl_if pagination.pageCount.isMultiple>
		<a href="<tmpl_var search.url>"><tmpl_var search.label></a>
	</tmpl_if>
</p>

<tmpl_loop post_loop>

<div><b>On <tmpl_var dateSubmitted.human> <a href="<tmpl_var userProfile.url>"><tmpl_var username></a> from <a href="<tmpl_var url>">the '<tmpl_var title>' department</a> wrote</b></div>
<div><i><tmpl_var synopsis></i></div>
<div><a href="<tmpl_var url>"><tmpl_var readmore.label></a></div>
<p />

</tmpl_loop>

<tmpl_if pagination.pageCount.isMultiple>
	<div class="pagination">
		<tmpl_var pagination.previousPage> &#183; <tmpl_var pagination.pageList.upTo10> &#183; <tmpl_var pagination.nextPage>
	</div>
</tmpl_if>
