
/* general */	

		body {
			margin:0;
			padding:0;
			font: 11px Verdana;
		}
        a {
            cursor: pointer;
        }
        button {
            cursor: pointer;
        }
        img {
            border: none;
        }
		.button {
			float:right;
			padding-right:10px;
		}	
		.centered {
			text-align: center;
		}
		.account_message {
            width: 600px;
            height: 300px;
            border: solid #BECEF8 1px;
            margin-left: 50px;
            margin-bottom: 10px;
            overflow:-moz-scrollbars-vertical;
            overflow-x:hidden;
            overflow-y:scroll;
            background-color: white;
            text-align: left;
        }

        .userInvite_subject {
            width: 500px;
            height: 25px;
            border: solid #BECEF8 1px;
            /*margin-left: 50px;*/
            /*margin-bottom: 20px;*/
            /*overflow:-moz-scrollbars-vertical;
            overflow-x:hidden;
            overflow-y:scroll;*/
            background-color: white;
            text-align: left;
        }
    
		.profileMember {
			text-align:right;
			margin-right:20px;
			font-size:9px;
		}
        .member {
            font: 9px Verdana, Arial, Helvetica, sans-serif;
            color:#000000;
            text-align:center;
        }
		.photostyle {
			border:solid #9BB4F4 2px;
			margin-bottom:5px;
			margin-top:5px
		}
		#rightalign {
			float: right;
		}
		/*.send {
			padding-right: 75px;
		}*/
		
		.Profile_registration {
			
		}
		.Profile_registration td {
			font-size:9pt;
			font-family:arial;
		}
		.Profile_registration .tabs a {
			text-decoration:none;
			background-color:#FEEBC7;
			margin-right:10px;
			padding:0px 10px 1px 10px;
			color:#FDC55B;
			font-weight:bold;
			border:solid #FDBA42 1px;
		}
		.Profile_registration .tabs a.active {
			background:#FDBA42;
			color:black;
		}
		.Profile_registration .header {
			font-size:10px;
			font-weight:bold;
			text-align:left;	
			color:#fff;
			background-color:#818997;
			border-top:solid #FE9515 3px;	
			text-align:right;			
		}
		.Profile_registration .header a {
			color:white;
			text-decoration:none;			
		}
		.Profile_registration .help a {
			font-weight:bold;
			text-decoration:none;
		}
		
		.Profile_registration .inputText {
			font-size:10px;
			margin-right:1px;
		}
		.Profile_registration .label {
			font-weight:bold;
			font-size:9pt;
			text-align:right;
			white-space:nowrap;
			width:1%;
		}	
		.Profile_registration .labelLeft {
			font-weight:bold;
			font-size:9pt;
			text-align:right;
			white-space:nowrap;
			width:1%;
			text-align: left;
			vertical-align: top;
		}
		.Profile_registration .smallLabel {
			font-size:8px;
			text-align:center;
		}
		.Profile_registration .smallText {
			font-size:9px;
		}
		.Profile_registration .yourselfBG {
			border:solid #CEDBF8 1px;
			background-color:#EEF2FD;
			color:black;
			padding: 2px;
		}
		/*.Profile_registration .yourselfBG a {
			font-weight:bold;
			color:#0054ff;
			text-decoration:none;
		}*/
		.Profile_registration .bar {
			background-color:#DDE6FB;
			border:solid #BECEF8 1px;
			text-align:center;
			color:#0B2259;
			font-size:14px;
			font-weight:bold;
		}

        .Profile_registration .bar a {
            color:#0B2259;
            font-size:10px;
            font-weight:bold;
        }

/* profile errors */

#profileErrors {
    background-color: #ff0000;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.profilefield_required_off {
}
.profilefield_required {
    background-color: #ffffbb;
}
.profilefield_error {
    background-color: #FF9494;
}

/* bio, addtonetwork, network */

		.bordered {
			border-bottom: dashed #BECEF8 2px;
            padding-bottom: 10px;
		}
		.friendpic {
			border: solid #BECEF8 1px;
		}
		.invitemsg {
			width: 600px;
			height: 150px;
		}
		ol.Profile_interests {
			font-size:15px;
			font-weight:bold;
			color:#0B2259;
			list-style-type:none;
			margin:0px;
			padding:0px;
			padding:5px 5px;
		}
		ol.Profile_interests li {
			margin-bottom:15px;
		}
		ol.Profile_interests span {
			font-weight:normal;
			font-size:12px;
			color:black;
		}
		.pBio {
			border-bottom:solid #DDE6FB 1px;
			margin:0px;
			margin-bottom:5px;
			padding-bottom:5px;			
		}
		.pBio div {
			background-color:#DDE6FB;
			padding:2px 5px;
			margin-bottom:2px;
		}
		.program {
			font-size: 9px;
		}

/* edit box */

	.editBox {
		font-size:9px;
		font-weight:bold;
		/*background:white url(images/edit_box_bg.jpg) no-repeat bottom left;*/
		border:solid #8DABF1 2px;
		padding:5px;
		width:590px;
		-moz-box-sizing:border-box;
		font-family:verdana;
		z-index:100;
		position:absolute;
		top:100px;
		left:100px;
		display:block;
	}
	.editBox input, .editBox select {
	font-size:9px;	
	}

/* inbox */

.Profile_registration .inboxTitle {
    background-color:#DDE6FB;
	border:solid #BECEF8 1px;
	text-align:center;
	font-size:10px;
	font-weight:bold;
    color:#0B2259;
    text-decoration: underline;
}

/* inbox threads */

		.evenThread {
            background-color: #e1e8fb;
            border-bottom: 1px solid #bfcef9;
            padding: 4px;
            text-align:center;
        }
		.oddThread {
            background-color: #eef2fd;
            border-bottom: 1px solid #bfcef9;
            padding: 4px;
            text-align: center;
		}
/* inbox forms */

.inbox_from {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.inbox_subject {
    width: 530px;
}

.inbox_messageTo {
	width: 530px;
	height: 50px;
	border: solid #BECEF8 1px;
	overflow:-moz-scrollbars-vertical;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color: white;
}

/* inbox contacts */
    .datacells {
		border-bottom: dashed #BECEF8 1px;
	}
    .inbox_contactsTbl {
        font-size:9pt;
		font-family:arial;
		background-color:#EEF2FD;
    }
	#contacts {
		height: 275px;
		overflow: auto;
	}

/* pagination */
.Profile_pagination {
	text-align:right;
	font-size:10px;
}
.Profile_pagination a {
	font-weight:bold;
	font-size:10px;
	border:solid #BECEF8 1px;
	padding:1px 5px;
	text-decoration:none;
	background-color:#EEF2FD;
}

.Profile_pagination a:hover {
	background-color:#FE9515;
	color:white;
}

.Profile_pagination .prevNext {
    border: none;
    background-color: transparent;
    color: black;
}

.Profile_pagination .prevNext:hover {
    border: none;
    background-color: transparent;
    color: black;
}

.Profile_pagination .active {
    font-weight:bold;
	font-size:10px;
	border:solid #BECEF8 1px;
	padding:1px 5px;
	text-decoration:none;
	background-color:#FE9515;
	color:white;    
}

/* TABS - outer */

.bottombutton {
    #border: none;
    float:right;
    padding-right:2px;
    padding-top: 2px;
    position: relative;
} 
.content {
	padding:10px;

}
.subContent { 
	border: solid #ffa700 6px;
}
.topbutton {
    #border: none;
    float:right;
    clear:both;
    padding-right:2px;
    padding-top: 2px;
    position: relative;
}

ul.topTabs,
ul.topTabs li {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
ul.topTabs li {
	display:block;
	float:left;
	margin-right: 5px;
}
ul.topTabs li b {
	display:block;
	position:relative;
	top:-1px;
	border-top:solid #ffa700 1px;
	background-color: #faee9a;
	padding:4px 8px;	
}
ul.topTabs a {
	display:block;
	color:#ffa700;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	background-color:#faee9a;
	border-left: solid #ffa700 1px;
	border-right: solid #ffa700 1px;	
}
ul.topTabs a:hover,
ul.topTabs a:hover b,
ul.topTabs a.selected,
ul.topTabs a.selected b {
	background-color:#ffa700;
	color:#fff;
}

/* TABS - YUI */

.cleardiv {
    clear: both;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.view {
    border: none;
    font: bold 10px Verdana;
    color: #0b2258;
    text-decoration:none;
    position: absolute;
    right: 4px;
    top:4px;
}

.profile_displayView {
    -x-system-font:none;
    border:medium none;
    color:#0B2258;
    display:inline;
    float:right;
    font-family:Verdana;
    font-size:10px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    padding-right:8px;
    padding-top:3px;
    text-decoration: none;
}

.profile_displaySubContent { 
	border: solid #ffa700 6px;
    border-top: solid #ffa700 18px;
}

/* view profile */

.profile_fieldLabel {
background: #DDE6FB;
border: 1px solid white;
}
.profile_fieldData {
margin-left: 5px;
}

 /*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
/* .yui-navset defaults to .yui-navset-top */
.yui-skin-sam .yui-navset .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav { /* protect nested tabviews from other orientations */
    border:solid #eef2fd; /* color between tab list and content */
    border-width:0 0 5px;
    Xposition:relative;
    zoom:1;
}

.yui-skin-sam .yui-navset .yui-nav li,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav li {
    margin:0 0.3em 0 0; /* space between tabs */
    padding:5px 0 0; /* gecko: make room for overflow */
    zoom:1;
}

.yui-skin-sam .yui-navset .yui-nav .selected,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected { 
    margin:0 0.3em -1px 0; /* for overlap */
}

.yui-skin-sam .yui-navset .yui-nav a,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a {
    	background:#9bb4f4;  /* tab background */
    	border:solid #eef2fd;
    	border-width:0 1px;
    	color:#eef2fd;
    	position:relative;
    	text-decoration:none;
    	font-size:12px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
}

.yui-skin-sam .yui-navset .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em {
    border:solid #eef2fd;
    border-width:1px 0 0;
    cursor:hand;
    padding:0.25em .75em;
    left:0; right: 0; bottom: 0; /* protect from other orientations */
    top:-1px; /* for 1px rounded corners */
    position:relative;
}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a:focus, /* no focus effect for selected */
.yui-skin-sam .yui-navset .yui-nav .selected a:hover { /* no hover effect for selected */
    	background:#eef2fd; /* selected tab background */
    	color:#0a2359;
    	font-size:12px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight: bold;
}

.yui-skin-sam .yui-navset .yui-nav a:hover,
.yui-skin-sam .yui-navset .yui-nav a:focus {
    	background:#eef2fd; /* selected tab background */
    	color:#0a2359;
    	outline:0;
    	font-size:12px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration:none;
		font-weight: bold;

}

.yui-skin-sam .yui-navset .yui-nav .selected a,
.yui-skin-sam .yui-navset .yui-nav .selected a em {
    border-color:#eef2fd; /* selected tab border color */
}

.yui-skin-sam .yui-navset .yui-content {
    background:#edf5ff; /* content background color */
}

.yui-skin-sam .yui-navset .yui-content,
.yui-skin-sam .yui-navset .yui-navset-top .yui-content {
    border:5px solid #eef2fd; /* content border */
    padding:0.75em 1em; /* content padding */
}

/* left and right orientations */
.yui-skin-sam .yui-navset-left .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,
.yui-skin-sam .yui-navset-right .yui-nav {
    border-width:0 5px 0 0;
    Xposition:absolute; /* from tabview-core; have to reiterate for skin-sam due to pos:rel on skin-sam yui-nav */
    top:0; bottom:0; /* stretch to fill content height */
}

.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,
.yui-skin-sam .yui-navset-right .yui-nav {
    border-width:0 0 0 5px;
}

.yui-skin-sam .yui-navset-left .yui-nav li,
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,
.yui-skin-sam .yui-navset-right .yui-nav li {
    margin:0 0 0.3em; /* space between tabs */
    padding:0 0 0 1px; /* gecko: make room for overflow */
}

.yui-skin-sam .yui-navset-right .yui-nav li {
    padding:0 1px 0 0; /* gecko: make room for overflow */
}

.yui-skin-sam .yui-navset-left .yui-nav .selected,
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav .selected { 
    margin:0 -1px 0.16em 0;
}

.yui-skin-sam .yui-navset-right .yui-nav .selected { 
    margin:0 0 0.16em -1px;
}

.yui-skin-sam .yui-navset-left .yui-nav a,
.yui-skin-sam .yui-navset-right .yui-nav a {
    border-width:1px 0;
}

.yui-skin-sam .yui-navset-left .yui-nav a em,
.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,
.yui-skin-sam .yui-navset-right .yui-nav a em {
    border-width:0 0 0 1px;
    padding:0.2em .75em;
    top:auto;
    left:-1px; /* for 1px rounded corners */
}

.yui-skin-sam .yui-navset-right .yui-nav a em {
    border-width:0 1px 0 0;
    left:auto;
    right:-1px; /* for 1px rounded corners */
}

.yui-skin-sam .yui-navset-left .yui-nav a,
.yui-skin-sam .yui-navset-left .yui-nav .selected a,
.yui-skin-sam .yui-navset-left .yui-nav a:hover,
.yui-skin-sam .yui-navset-right .yui-nav a,
.yui-skin-sam .yui-navset-right .yui-nav .selected a,
.yui-skin-sam .yui-navset-right .yui-nav a:hover,
.yui-skin-sam .yui-navset-bottom .yui-nav a,
.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,
.yui-skin-sam .yui-navset-bottom .yui-nav a:hover {
    background-image:none; /* no left-right or bottom-top gradient */
}

.yui-skin-sam .yui-navset-left .yui-content {
    border:1px solid #eef2fd; /* content border */
}

/* bottom orientation */
.yui-skin-sam .yui-navset-bottom .yui-nav,
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav {
    border-width:5px 0 0; /* color between tab list and content */
}

.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,
.yui-skin-sam .yui-navset-bottom .yui-nav .selected { 
    margin:-1px 0.3em 0 0; /* for overlap */
}

.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,
.yui-skin-sam .yui-navset-bottom .yui-nav li { 
    padding:0 0 1px 0; /* gecko: make room for overflow */
    vertical-align:top;
}

.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li a,
.yui-skin-sam .yui-navset-bottom .yui-nav li a { 
}

.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav a em,
.yui-skin-sam .yui-navset-bottom .yui-nav a em {
    border-width:0 0 1px;
    top:auto;
    bottom:-1px; /* for 1px rounded corners */
}

.yui-skin-sam .yui-navset-bottom .yui-content,
.yui-skin-sam .yui-navset .yui-navset-bottom .yui-content {
    border:1px solid #eef2fd; /* content border */
}


.yui-skin-sam {
	background-color: #ffa700;
	padding: 10px 5 5 5px;
	display:block;
}

/*
Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0
*/
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{margin:0 0.5em 0 0;}

.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{margin:0 0 0.5em;}

.yui-navset .yui-content .yui-hidden{display:none;}

.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{width:6em;}

.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{width:auto;}.yui-navset .yui-navset-left,.yui-navset-left{padding:0 0 0 6em;}

.yui-navset-right {padding:0 6em 0 0;}

.yui-navset-top,.yui-navset-bottom{padding:auto;}

.yui-nav,.yui-nav li{margin:0;padding:0;list-style:none;}

.yui-navset li em{font-style:normal;}.yui-navset{position:relative;zoom:1;}

.yui-navset .yui-content{zoom:1;}

.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{display:inline-block;display:-moz-inline-stack;*display:inline;vertical-align:bottom;cursor:pointer;zoom:1;}

.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{display:block;}

.yui-navset .yui-nav a{position:relative;}

.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a{display:block;display:inline-block;vertical-align:bottom;zoom:1;}

.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a{display:block;}

.yui-navset-bottom .yui-nav li a{vertical-align:text-top;}

.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em{display:block;}

.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{position:absolute;z-index:1;}

.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{position:static;}

.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav{left:0;right:auto;}

.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav{right:0;left:auto;}

.yui-skin-sam .yui-navset .yui-nav .selected a em{padding:0.35em 0.75em;}

.yui-skin-sam .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav,.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 5px 0 0;Xposition:absolute;top:0;bottom:0;}

.yui-skin-sam .yui-navset .yui-navset-right .yui-nav,.yui-skin-sam .yui-navset-right .yui-nav{border-width:0 0 0 5px;}

.yui-skin-sam .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav li,.yui-skin-sam .yui-navset-right .yui-nav li{margin:0 0 0.16em;padding:0 0 0 1px;}

.yui-skin-sam .yui-navset-right .yui-nav li{padding:0 1px 0 0;}

.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav a{border-width:1px 0;}

.yui-skin-sam .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset .yui-navset-left .yui-nav a em,.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 0 0 1px;padding:0.2em .75em;top:auto;left:-1px;}

.yui-skin-sam .yui-navset-right .yui-nav a em{border-width:0 1px 0 0;left:auto;right:-1px;}

.yui-skin-sam .yui-navset-left .yui-nav a,.yui-skin-sam .yui-navset-left .yui-nav .selected a,.yui-skin-sam .yui-navset-left .yui-nav a:hover,.yui-skin-sam .yui-navset-right .yui-nav a,.yui-skin-sam .yui-navset-right .yui-nav .selected a,.yui-skin-sam .yui-navset-right .yui-nav a:hover,.yui-skin-sam .yui-navset-bottom .yui-nav a,.yui-skin-sam .yui-navset-bottom .yui-nav .selected a,.yui-skin-sam .yui-navset-bottom .yui-nav a:hover{background-image:none;}

.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav .selected,.yui-skin-sam .yui-navset-bottom .yui-nav .selected{margin:-1px 0.16em 0 0;}

.yui-skin-sam .yui-navset .yui-navset-bottom .yui-nav li,.yui-skin-sam .yui-navset-bottom .yui-nav li{padding:0 0 1px 0;vertical-align:top;}


