.yresizable-handle {
    position:absolute;
    z-index:100;
    /* ie needs these */
    font-size:1px;
    line-height:1px;
    overflow:hidden;
	 background:white;
	 filter:alpha(opacity=0);
	 opacity:0;
}
.yresizable-handle-east{
    width:5px;
    cursor:e-resize;
    right:0px;
    top:0px;
    height:100%;
}
.yresizable-handle-south{
    width:100%;
    cursor:s-resize;
    left:0px;
    bottom:0px;
    height:5px;
}
.yresizable-handle-west{
    width:5px;
    cursor:w-resize;
    left:0px;
    top:0px;
    height:100%;
}
.yresizable-handle-north{
    width:100%;
    cursor:n-resize;
    left:0px;
    top:0px;
    height:5px;
}
.yresizable-handle-southeast{
    width:6px;
    cursor:se-resize;
    right:0px;
    bottom:0px;
    height:6px;
    z-index:101;
}
.yresizable-over .yresizable-handle, .yresizable-pinned .yresizable-handle{
    filter:alpha(opacity=100);
	 opacity:1;
}
.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-east{
    background:url(../images/sizer/e-handle.gif);
	 background-position: left;
    border-left:1px solid #98c0f4;
}
.yresizable-over .yresizable-handle-east, .yresizable-pinned .yresizable-handle-west{
    background:url(../images/sizer/e-handle.gif);
	 background-position: left;
    border-right:1px solid #98c0f4;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-south{
    background:url(../images/sizer/s-handle.gif);
    background-position: top;
    border-top:1px solid #98c0f4;
}
.yresizable-over .yresizable-handle-south, .yresizable-pinned .yresizable-handle-north{
    background:url(../images/sizer/s-handle.gif);
    background-position: top;
    border-bottom:1px solid #98c0f4;
}
.yresizable-over .yresizable-handle-southeast, .yresizable-pinned .yresizable-handle-southeast{
    background-position: top left;
    background:url(../images/sizer/se-handle.gif);
}
.yresizable-proxy{
    border: 1px dashed #6593cf;
    position:absolute;
    overflow:hidden;
    visibility:hidden;
    z-index:1001;
}