.ytoolbar{
	background-color: #ebeadb;
	border: 1px solid #cbc7b8;
	display: block;
	padding:2px;
}
.mso .ytoolbar, .ygrid-mso .ytoolbar{
	background: url(../images/grid/mso-hd.gif);
}
.ytoolbar td,.ytoolbar span,.ytoolbar input,.ytoolbar div{
   font:normal 8pt arial,helvetica;
}
.ytoolbar .ytb-button-disabled .ytb-button-inner{
	color:gray;
	cursor:default;
}
.ytoolbar .ytb-button-inner{
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
	cursor:pointer;
	white-space: nowrap;
}
.ytoolbar .ytb-text{
   padding:2px;
}
.ytoolbar .ytb-button{
   padding:2px;
	display:block;
}
.ytoolbar .ytb-button-over{
   background-color:#c3d3ed;
	border:1px solid #316ac5;
	padding:1px;
}
.ytoolbar .ytb-sep {
	background-image: url(../images/grid/grid-split.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 16px;
	width:4px;
	overflow: hidden;
	cursor:default;
	margin: 0px 2px 0px;
	border:0px;
}
.mso .ytoolbar .ytb-sep, .ygrid-mso .ytoolbar .ytb-sep{
	background-image: url(../images/grid/grid-blue-split.gif);
}