#PBtmpl0000000000000027
<table border="0" cellpadding="3" cellspacing="2">
<tbody>
<tr>
	<td colspan="2"><i><tmpl_var notify.subscription.message></i></td>
</tr>
<tr>
	<td colspan="2">&nbsp;</td>
</tr>
<tr>
	<td colspan="2" bgcolor="black" style="background-color:black;"><font color="white"><b style="color:white;"><tmpl_var username> replied to your message, '<tmpl_var title>'</b></font></td>
</tr>
<tr>
	<td colspan="2" bgcolor="#DFDFDF" style="background-color:#DFDFDF;"><a href="<tmpl_var url>"><b style="color:#ACACAC;"><font color="#ACACAC"><tmpl_var url></font></a></b></td>
</tr>
<tr>
	<td colspan="2" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var content></td>
</tr>
<tr>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
</tr>
<tmpl_if userDefined1>
<tr>
	<td width="25%" bgcolor="#DFDFDF" style="background-color:#DFDFDF;">User Defined 1:</td>
	<td width="75%" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined1></td>
</tr>
</tmpl_if>
<tmpl_if userDefined2>
<tr>
	<td width="25%" bgcolor="#DFDFDF" style="background-color:#DFDFDF;">User Defined 2:</td>
	<td width="75%" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined2></td>
</tr>
</tmpl_if>
<tmpl_if userDefined3>
<tr>
	<td width="25%" bgcolor="#DFDFDF" style="background-color:#DFDFDF;">User Defined 3:</td>
	<td width="75%" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined3></td>
</tr>
</tmpl_if>
<tmpl_if userDefined4>
<tr>
	<td width="25%" bgcolor="#DFDFDF" style="background-color:#DFDFDF;">User Defined 4:</td>
	<td width="75%" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined4></td>
</tr>
</tmpl_if>
<tmpl_if userDefined5>
<tr>
	<td width="25%" bgcolor="#DFDFDF" style="background-color:#DFDFDF;">User Defined 5:</td>
	<td width="75%" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var userDefined5></td>
</tr>
</tmpl_if>
</tbody>
</table>