#PBnav00000000000bullet
#title:Bulleted List
#menuTitle:Bulleted List
#url:bulleted_list
#namespace:Navigation
<tmpl_if session.var.adminOn>
<tmpl_var controls><br />
</tmpl_if>
<tmpl_if displayTitle>
	<h2><tmpl_var title></h2>
</tmpl_if>
<tmpl_if description>
	<p><tmpl_var description></p>
</tmpl_if>

<tmpl_loop page_loop>
<tmpl_if __FIRST__>
	<ul class="bulletList">
</tmpl_if>


<tmpl_loop page.depthDiff_loop>
   </ul></li>
</tmpl_loop>

<li class="level<tmpl_var page.relDepth>"><a <tmpl_if page.newWindow>onclick="window.open('<tmpl_var page.url>')" href="#" <tmpl_else>href="<tmpl_var page.url>"</tmpl_if>><tmpl_var page.menuTitle></a>
<tmpl_if page.hasViewableChildren>
	<ul>
<tmpl_else>
	</li>
</tmpl_if>

<tmpl_if __LAST__> 
	<tmpl_loop page.indent_loop>
		<tmpl_unless __first__></li></tmpl_unless>
       		</ul>
 	</tmpl_loop>
	</li></ul>
</tmpl_if>
</tmpl_loop>
~~~
<style type="text/css">
ul.bulletList li, ul.bulletList ul {
	margin-left:7px;
	padding-left:0px;
	font-size:9px;	
}

.bulletList .level0 {
	font-size:13px;
}

.bulletList .level1 {
	font-size:11px;
}
</style>

