#PBtmpl0000000000000085
<br /><br />
<tmpl_loop field_loop>
<table cellpadding="3" cellspacing="2" border="0" width="80%">
	<tmpl_unless field.isMailField>
	<tr>
		<td width="23%" align="right" bgcolor="#DFDFDF" style="background-color:#DFDFDF;"><b><tmpl_var field.label> :</b></td>		
		<td width="75%" bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var field.value></td>
	</tr>
	</tmpl_unless>
</table>
</tmpl_loop>