#EventManagerTmpl000003

<tmpl_if resolveConflicts>
<tmpl_var form.header>
<table width="100%" border="0">
<tr><td><tmpl_var message></td></tr>

<tr>
	<td>
		<table width="100%">
 <tmpl_loop conflict_loop>
		<tr<tmpl_unless __ODD__> class="evenRow"<tmpl_else> class="oddRow"</tmpl_unless>>
			<td><tmpl_var form.deleteControl></td>
			<td><tmpl_var title></td>
			<td><tmpl_var description></td>
			<td><tmpl_var price></td>
		</tr>
 </tmpl_loop>
		</table>
	</td>
</tr> 
<tr><td><tmpl_var form.submit></td></tr>
</table>
<tmpl_var form.footer>
</tmpl_if>




<tmpl_if registration>
  <tmpl_var form.header>
  <tmpl_var form.message>
  <tmpl_var form.chooserJS>
  <table style="border-top:solid gray 1px;width:100%;margin-top:5px;">
<tbody>
<tmpl_if isError>
 <tr><td colspan='2'>
  <ul>
   <tmpl_loop errorLoop>
    <li><span style='color: red; font-weight: bold;'><tmpl_var error></span></li>
   </tmpl_loop>
  </ul>
  </td></tr>
</tmpl_if>

<tmpl_if form.badgeId><tr><td><tmpl_var form.badgeId.label></td><td><tmpl_var form.badgeId></td></tr></tmpl_if>
  <tr><td><tmpl_var form.firstName.label></td><td><tmpl_var form.firstName></td></tr>
<tr><td><tmpl_var form.lastName.label></td><td><tmpl_var form.lastName></td></tr>
<tr><td><tmpl_var form.address.label></td><td><tmpl_var form.address></td></tr>
<tr><td><tmpl_var form.city.label></td><td><tmpl_var form.city></td></tr>
<tr><td><tmpl_var form.state.label></td><td><tmpl_var form.state></td></tr>
<tr><td><tmpl_var form.zipcode.label></td><td><tmpl_var form.zipcode></td></tr>
<tr><td><tmpl_var form.country.label></td><td><tmpl_var form.country></td></tr>
<tr><td><tmpl_var form.phoneNumber.label></td><td><tmpl_var form.phoneNumber></td></tr>
<tr><td><tmpl_var form.email.label></td><td><tmpl_var form.email></td></tr>
<tr><td colspan="2"><br /><tmpl_var form.submit><a href="<tmpl_var cancelRegistration.url>" style="text-align: right;"><tmpl_var cancelRegistration.url.label></a></td></tr>
</tbody>
</table>
<script type="text/javascript">

function swapBadgeInfo(badgeId) {
	var selector = document.getElementById('badgeId_formId');
	for (var i in badges[badgeId]) {
		var field = document.getElementById(i+'_formId');
		if (field && badges[badgeId][i]) {
			field.value=badges[badgeId][i];
		} else {
			if (field) field.value='';
		}
	}
}	

var selector1 = document.getElementById('badgeId_formId');
if (selector1) {
	swapBadgeInfo(selector1.value);
}

</script>
<tmpl_var form.footer>
</tmpl_if>

<tmpl_if prereqsAreMissing>
<tmpl_var form.header>
<table border="1">

<tmpl_loop message_loop>
<tr>
	<td colspan="4"><strong><tmpl_var title> requires all of the following:</strong></td>
</tr>
<tr>
	<td colspan="4">
		<ul>
<tmpl_loop messageLoop>
			<li><tmpl_var reqmessage></li>
</tmpl_loop>
		</ul>
	</td>
</tr>
</tmpl_loop>

<tmpl_loop missingEvents_loop>
<tr<tmpl_unless __ODD__> class="evenRow"<tmpl_else> class="oddRow"</tmpl_unless>><td><tmpl_var form.checkBox></td><td><tmpl_var title></td><td><tmpl_var description></td><td><tmpl_var price></td></tr>
</tmpl_loop>
<tr><td colspan="4"><br /><tmpl_var form.submit></td></tr>
</table>
<tmpl_var form.footer>

</tmpl_if>

~~~

<style type="text/css">
tr.oddRow td {
	background-color:#DADADA;
	border-right:solid gray 1px;
}
tr.evenRow td {
	background-color:#E8E8E8;
	border-right:solid gray 1px;
}
</style>

