#emsbadgeprintout000000
#url: ems-badge-print-out-template
#title: Badge Print
#namespace:emsbadgeprint
#create

<html><head> </head><body style="background-color: white;">
<div style="color: black; background-color: white; width: max-width: 700px; font-family: sans-serif;">
<div style="font-size: 33px; margin-top: 101px; text-align: center; font-weight: bold;"><tmpl_var firstName> <tmpl_var lastName></div>
<div style="font-size: 21px; margin-top: 34px; text-align: center;"><tmpl_var city></div>
<div style="font-size: 21px; margin-top: 12px; text-align: center;"><tmpl_var state></div>
<div style="font-size: 10px; margin-top: 6px; text-align: left;"><tmpl_var badgeId></div>
<div style="font-size: 21px; height: 26px; background-color: black; color: white; font-variant: small-caps; text-align: center;"><tmpl_var title></div>
</div>
</body></html>
