#emsticketprintout00000
#url: ems-ticket-print-out-template
#title: Ticket Print
#namespace:emsticketprint
#create
<html><head> </head><body style="background-color: white;">
<div style="color: black; background-color: white; max-width: 700px; font-family: sans-serif;">
<div style="font-size: 16px; padding-left: 5px; background-color: black; color: white"><tmpl_var sku>: <tmpl_var title></div>
<div style="font-size: 13px;"><tmpl_var location></div>
<div style="font-size: 13px; margin-top: 14px; text-align: right;">^D(,<tmpl_var startDate>); - ^D(,<tmpl_var endDate>);</div>
<div style="font-size: 16px; font-weight: bold; margin-top: 21px;"><tmpl_var lastName>, <tmpl_var firstName></div>
<div style="font-size: 12px; margin-top: 6px; text-align: right; float: right;"><tmpl_var price></div>
<div style="font-size: 12px; margin-top: 6px;"><tmpl_var badgeId></div>
<div style="font-size: 17px; border: 1px solid black; text-align: center;"><tmpl_var emsTitle></div>
</div>
</body></html>
