#newslettersubscrip0001
#url: newslettermysubscriptionstemplate
#title: My Subscriptions (default)
#menuTitle: My Subscriptions
#namespace:newsletter/mysubscriptions
#create

<h1>^International("my subscriptions","Asset_Newsletter");</h1>

<tmpl_var formHeader>
<h2>^International("newsletter categories","Asset_Newsletter");</h2>
<tmpl_loop categoriesLoop>
    <p><b><tmpl_var categoryName></b><br />
    <blockquote>
        <tmpl_loop optionsLoop>
            <label><tmpl_var optionForm> <tmpl_var optionName></label><br /> 
        </tmpl_loop>
    </blockquote></p>
</tmpl_loop>
<tmpl_var formSubmit>
<tmpl_var formFooter>

