#PBtmpl00000userInvite1
#url:userinvitetemplate
#title:User Invite Template
#menuTitle:Default User Invite Template
#namespace:userInvite
#create
<h1><tmpl_var title></h1>

<tmpl_var formHeader>

<table width="100%" cellspacing="1" cellpadding="2" border="0">
<tbody>
<tmpl_if inviteFormError>
<tr>
   <td class="tableData" colspan="2">
      <tmpl_var inviteFormError>
   </td>
</tr>
</tmpl_if>
<tr>
   <td class="tableData">
      <tmpl_var emailAddressLabel>
   </td>
   <td class="tableData">
      <tmpl_var emailAddressForm>
   </td>
</tr>
<tr>
   <td class="tableData">
      <tmpl_var subjectLabel>
   </td>
   <td class="tableData">
      <tmpl_var subjectForm>
   </td>
</tr>
<tr>
   <td class="tableData">
      <tmpl_var messageLabel>
   </td>
   <td class="tableData">
      <tmpl_var messageForm>
   </td>
</tr>
<tr>
   <td class="tableData">
      &nbsp;
   </td>
   <td class="tableData">
      <tmpl_var submitButton>
   </td>
</tr>
</tbody>
</table>
<tmpl_var formFooter>
