#PBtmpl0userInviteEmail
#url:userinviteemailtemplate
#title:Default User Invite Email Template
#menuTitle:Default User Invite Email Template
#namespace:userInvite/Email
#create
<tmpl_var invitationMessage>
<tmpl_var registrationUrl>

