#PBtmpl0000000000000016
<a href="<tmpl_var viewShoppingCart.url>"><tmpl_var viewShoppingCart.label></a> &middot;
<a href="<tmpl_var changePayment.url>"><tmpl_var changePayment.label></a> &middot; 
<a href="<tmpl_var changeShipping.url>"><tmpl_var changeShipping.label></a><br />
<br />

<tmpl_if purchaseError>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Transaction description</th>
    <th>Price</th>
    <th>Status</th>
    <th>Error</th>
  </tr>
<tmpl_loop resultLoop>
  <tr>
    <td align="left"><tmpl_var purchaseDescription></td>
    <td align="right"><tmpl_var purchaseAmount></td>
    <td><tmpl_var status></td>
    <td align="left"><tmpl_var error> (<tmpl_var errorCode>)</td>
  </tr>
</tmpl_loop>
</table><br />
<br />
<tmpl_var statusExplanation>
<br />
</tmpl_if>


<tmpl_var title><br />
<tmpl_if errorLoop>
<ul>
<tmpl_loop errorLoop>
<li><tmpl_var message></li>
</tmpl_loop>
</ul>
</tmpl_if>

<table> <tr align="left">
      <th style="border-bottom: 2px solid black">Product</th>
      <th style="border-bottom: 2px solid black">Quantity</th>
      <th style="border-bottom: 2px solid black" align='center'>Price</th>
      <th style="border-bottom: 2px solid black">Amount</th>
      <th style="border-bottom: 2px solid black">Sales Tax</th>
      <th style="border-bottom: 2px solid black">Each</th>
  </tr>

  <tmpl_if normalItems>
  </tmpl_if>

  <tmpl_loop normalItemsLoop>
  <tr>
      <td align="left"><tmpl_var name></td>
      <td align="center"><tmpl_var quantity></td>
      <td align="right"><tmpl_var price></td>
      <td align="right"><tmpl_var totalPrice></td>
      <td align="right"><tmpl_var salesTax></td>
      <td>&nbsp;</td>
  </tr>
  </tmpl_loop>

  <tmpl_loop recurringItemsLoop>
  <tr>
      <td align="left"><tmpl_var name></td>
      <td align="center"><tmpl_var quantity></td>
      <td align="left"><tmpl_var price></td>
      <td align="right"><tmpl_var totalPrice></td>
      <td align="right"><tmpl_var salesTax></td>
      <td align="left"><tmpl_var period></td>
  </tr>
</tmpl_loop>
  <tr style="border-top: 1px solid black">
      <td colspan='2' style="border-top: 1px solid black">&nbsp;</td>
      <td align="right" style="border-top: 1px solid black"><b>Subtotal</b></td>
      <td align="right" style="border-top: 1px solid black"><b><tmpl_var subtotal></b></td>
  </tr>
  <tr>
      <td colspan="3" align="right">Shipping</td>
      <td align="right"><tmpl_var shippingCost></td>
  </tr>
  <tr>
      <td colspan="3" align="right"><tmpl_var discountsApplied.label></td>
      <td align="right"><tmpl_var discountsApplied></td>
  </tr>
  <tr>
      <td colspan="2" align="right">Sales Tax Rate</td>
      <td align="right"><tmpl_var salesTaxRate></td>
      <td style="border-top: 1px solid black">&nbsp;</td>
  </tr>
  <tr>
      <td colspan="3" align="right">Total Sales Tax</td>
      <td style="border-top: 1px solid black">&nbsp;</td>
      <td align="right"><tmpl_var totalSalesTax></td>
  </tr>
  <tr>
      <td colspan="3" align="right" style="border-top: 1px solid black"><b>Total</b></td>
      <td align="right" style="border-top: 1px solid black"><b><tmpl_var total></b></td>
  </tr>
</table>

<br /><br />

<tmpl_var form>