#WikiKeyword00000000001
#url: wiki-master-by-keyword-template.tmpl
#title: Wiki Pages By Keyword (default)
#menuTitle: Wiki Pages By Keyword
#namespace:WikiMaster_byKeyword
#create

<h1><tmpl_var keyword></h1>

<ul>
<tmpl_loop pagesLoop>
    <li><a href="<tmpl_var url>"><tmpl_var title></a></li>
</tmpl_loop>
</ul>

