#ProjectManagerTMPL0002
<script type="text/javascript">
//<![CDATA[
dunits = "<tmpl_var project.durationUnits>";
hoursPerDay = <tmpl_var project.hoursPerDay>;
taskLength = <tmpl_var project.task.length>;
extrasPath = '<tmpl_var extras>';
errorMsgs = {
   'name' : "<tmpl_var form.name.error>",
   'start' : "<tmpl_var form.start.error>",
   'end' : "<tmpl_var form.end.error>",
   'greaterthan' : "<tmpl_var form.greaterthan.error>",
   'invalidMove' : "<tmpl_var form.invalidMove.error>",
   'noPredecessor' : "<tmpl_var form.noPredecessor.error>",
   'samePredecessor' : "<tmpl_var form.samePredecessor.error>",
   'previousPredecessor' : "<tmpl_var form.previousPredecessor.error>",
   'untimedPredecessor' : "<tmpl_var form.untimedPredecessor.error>"
};

addEvent(window, "load", initPopUp);
//]]>
</script>
<tmpl_var form.header>
<table cellpadding="0" cellspacing="0" border="0" class="project" id="mastertable" style="width:<tmpl_var project.table.width>px;">
   <tbody>
      <tr>
         <td style="width:20px;height:20px;">&nbsp;</td>
	     <td style="width:300px;" align="center">Task Name</td>
	     <td style="width:70px;" align="center">Duration</td>
	     <td style="width:70px;" align="center">Start</td>
	     <td style="width:70px;" align="center">Finish</td>
	     <td style="width:30px;" align="center">Pred</td>
	     <td rowspan="<tmpl_var project.gantt.rowspan>" valign="top" id="scrolltd" style="border-style:none;width:<tmpl_var project.scroll.percentWidth>%;">
	        <div class="scroller" id="gantt">
			   <tmpl_var project.ganttChart>
		    </div>
	     </td>
      </tr>
      <tr>
	     <td colspan="6">&nbsp;</td>
      </tr>
      <tmpl_loop task.loop>
      <tr id="<tmpl_var task.row.id>">
	     <td align="center" style="height:20px"><tmpl_var task.number></td>
	     <td align="left" style="height:20px">
	        <tmpl_if task.canAdd>
		       <script type="text/javascript">
			   //<![CDATA[
                   var cMenu = new cMenu_createWithLink("id_<tmpl_var task.number>","<tmpl_var task.name ESCAPE="JS">");
				   cMenu.addLink("<tmpl_var task.edit.url>","<tmpl_var task.edit.label>");
				   cMenu.addLink("<tmpl_var task.insertAbove.url>","<tmpl_var task.insertAbove.label>");
				   cMenu.addLink("<tmpl_var task.insertBelow.url>","<tmpl_var task.insertBelow.label>");
				   cMenu.addLink("<tmpl_var task.delete.url>","<tmpl_var task.delete.label>");
				   cMenu.print();
				//]]>
               </script>
			   <!-- <a href="<tmpl_var task.edit.url>" class="submodal-400-350"><tmpl_var task.name></a> -->
		    <tmpl_else>
		       <tmpl_var task.name>
		    </tmpl_if>
	     </td>
	     <td align="center" style="height:20px"><tmpl_var task.duration> <tmpl_var task.duration.units></td>
	     <td align="center" style="height:20px"><tmpl_var task.start></td>
	     <td align="center" style="height:20px"><tmpl_var task.end></td>
	     <td align="center" style="height:20px"><tmpl_var task.dependants></td>	
	     <tmpl_var task.lagTime>
	     <tmpl_var task.taskType><tmpl_var task.seqNum>
      </tr>
      </tmpl_loop>
      <tr><td colspan="6" style="border-style:none;">&nbsp;</td></tr>
      <tr><td colspan="6" style="border-style:none;">&nbsp;</td></tr>
   </tbody>
</table>
<tmpl_var form.footer>

<div id="links">
<!-- 	<tmpl_if project.canEdit><a href="<tmpl_var task.resources.url>"><tmpl_var task.resources.label></a>&nbsp;|&nbsp;</tmpl_if> -->
	<tmpl_if task.canAdd><a href="<tmpl_var task.add.url>" class="submodal-400-300"><tmpl_var task.add.label></a>&nbsp;|&nbsp;</tmpl_if>
	<a href="<tmpl_var task.back.url>"><tmpl_var task.back.label></a>
</div>

