#WikiRCTmpl000000000001
<h2><tmpl_var title></h2>

<ul><tmpl_loop recentChanges>
	<li>
		<tmpl_if isAvailable>
			<a href="<tmpl_var url>"><tmpl_var title></a> - <tmpl_var actionTaken> on <tmpl_var date> by <tmpl_var username>
		<tmpl_else>
			<tmpl_var title> - <tmpl_var actionTaken> on <tmpl_var date> by <tmpl_var username> 
			<tmpl_if canAdminister>
				( <a href="<tmpl_var restoreUrl>"><tmpl_var restoreLabel></a> )
			</tmpl_if>
		</tmpl_if>
	</li>
</tmpl_loop></ul>

<div style="padding: 8px;"><a href="<tmpl_var searchUrl>"><tmpl_var searchLabel></a> | <a href="<tmpl_var mostPopularUrl>"><tmpl_var mostPopularLabel></a> | <a href="<tmpl_var wikiHomeUrl>"><tmpl_var wikiHomeLabel></a></div>


