.wg-hoverhelp {
    background-color: #e6ecff;
    border: 1px solid #003399;
    color: #000066;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    width: 300px;
    z-index: 12000 !important;
    display: none;
}
.wg-hoverhelp.yui-tt {
    display: block;
}

