.wg-hoverhelp {
    visibility: collapse;
    display: none;
    background-color: #e6ecff;
    border: 1px solid #003399;
    color: #000066;
    font-family: arial,helvetica,sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 3px;
    z-index: 1000;
    width: 300px;
}

.wg-hoverhelp.yui-tt {
    display: block;
}

