.webgui-fork-pb {
    border: thin solid black; 
    position: relative;
    line-height: 20pt;
    height: 20pt;
}

.webgui-fork-pb .webgui-fork-pb-bar {
    background-color: lime; 
    height: 100%;
}

.webgui-fork-pb .webgui-fork-pb-caption { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    text-align: center;
    font-size: 18pt;
}
