#WikiMasterTmpl00000001
#create
#namespace:WikiMaster
#url:default-wiki-master
#title:Default Wiki Master
#menuTitle:Default Wiki Master

<tmpl_if session.var.adminOn><p><tmpl_var controls></p></tmpl_if>
<tmpl_if displayTitle><h2><tmpl_var title></h2></tmpl_if>
<tmpl_var content>
<h3>Other actions</h3>
<ul>
<tmpl_if canEdit><li><a href="<tmpl_var addPage.url>"><tmpl_var addPage.text></a></li></tmpl_if>
<li><a href="<tmpl_var listPages.url>"><tmpl_var listPages.text></a></li>
<li><a href="<tmpl_var recentChanges.url>"><tmpl_var recentChanges.text></a></li>
</ul>
