#WikiPageEditTmpl000001
#create
#namespace:WikiPage_edit
#url:default-wiki-page-edit
#title:Default Wiki Page Edit
#menuTitle:Default Wiki Page Edit

<tmpl_var form.header>
<p>Title: <tmpl_var form.title><br />
Content:<br /><tmpl_var form.content></p>
<tmpl_var form.submit>
<tmpl_var form.footer>
