#WikiRCTmpl000000000001
#create
#namespace:WikiMaster_recentChanges
#url:default-wiki-recent-changes
#title:Default Recent Changes
#menuTitle:Default Recent Changes

<ul><tmpl_loop rc.entries>
<li><tmpl_var date> <tmpl_var time>: <a href="<tmpl_var viewUrl>"><tmpl_var title></a>
<tmpl_if isEdit>edited</tmpl_if><tmpl_if isDelete>deleted</tmpl_if> by <tmpl_var username></li>
</tmpl_loop></ul>
