#WikiPageTmpl0000000001
#create
#namespace:WikiPage
#url:default-wiki-page
#title:Default Wiki Page
#menuTitle:Default Wiki Page

<tmpl_var content>
<tmpl_unless nonexistentPage><h3>This page</h3><ul>
  <tmpl_unless inView><li><a href="<tmpl_var view.url>"><tmpl_var view.text></a></li></tmpl_unless>
  <tmpl_unless inEdit>
     <tmpl_if canEdit><li><a href="<tmpl_var edit.url>"><tmpl_var edit.text></a></li>
     <tmpl_else><tmpl_if couldEdit><li>(Protected page)</li></tmpl_if></tmpl_if>
  </tmpl_unless>
  <tmpl_unless inHistory>
    <li><a href="<tmpl_var pageHistory.url>"><tmpl_var pageHistory.text></a></li>
  </tmpl_unless>
  <tmpl_if canProtect>
    <tmpl_if isProtected>
      <li><a href="<tmpl_var unprotect.url>"><tmpl_var unprotect.text></a></li>
    <tmpl_else>
      <li><a href="<tmpl_var protect.url>"><tmpl_var protect.text></a></li>
    </tmpl_if>
  </tmpl_if>
</ul></tmpl_unless>
