#PBtmpl0000000000000027
<table border="0" cellpadding="3">
<tbody>
<tr>
	<td><i><tmpl_var notify.subscription.message></i></td>
</tr>
<tr>
	<td>&nbsp;</td>
</tr>
<tr>
	<td bgcolor="#DFDFDF" style="background-color:#DFDFDF;"><a href="<tmpl_var url>"><b><tmpl_var url></a></b></td>
</tr>
<tr>
	<td bgcolor="#F0F0F0" style="background-color:#F0F0F0;"><tmpl_var content></td>
</tr>
</tbody>
</table>