#CalendarDay00000000001
<tmpl_if admin>
    <p><tmpl_var adminControls></p>
</tmpl_if>

<tmpl_if displayTitle>
    <h1><tmpl_var title></h1>
</tmpl_if>

<tmpl_if description>
    <p><tmpl_var description></p>
</tmpl_if>

<table cellspacing="0" cellpadding="0" width="600" id="mCAL">
<tr>
    <td style="text-align:right">
        <a href="<tmpl_var urlDay>" class="tab active">Day</a>
        <a href="<tmpl_var urlWeek>" class="tab">Week</a>
        <a href="<tmpl_var urlMonth>" class="tab">Month</a>
        <a href="<tmpl_var urlSearch>" class="tab">Search</a>
        
        <div class="controls">
            <tmpl_if editor><a href="<tmpl_var urlAdd>">Add Event</a> &bull;</tmpl_if>
            <a href="<tmpl_var urlPrint>">Print</a> &bull; <a href="<tmpl_var urlIcal>">iCal</a><!--&bull; <a href="#">Subscribe</a>-->
        </div>
    </td>
</tr>
<tr>
    <td class="months">
        <div style="padding:3px 0px;">
            <a href="<tmpl_var pagePrevUrl>" style="font-weight:bold;margin-right:8px;">&laquo; Previous Day
            </a>&bull;
            
            <span style="margin-right:8px;margin-left:8px;" class="monthLink current"><tmpl_var dayAbbr>, <tmpl_var monthAbbr> <tmpl_var dayOfMonth>. <tmpl_var year></span>&bull;
                <a href="<tmpl_var pageNextUrl>" style="font-weight:bold;padding-left:8px">Next Day &raquo;</a> 
        </div>
    </td>
</tr>
<tr>
    <td>
        <div  class="curMonth">
            <tmpl_var dayName>, <tmpl_var monthName> <tmpl_var dayOfMonth>, <tmpl_var year>
        </div>
    </td>
</tr>
<tr>
    <td style="width:100%">
        <table width="100%" cellspacing="2" cellpadding="0">
        <tmpl_loop hours><tr>
            <td class="heading">
                <div style="padding:4px;"><tmpl_var hour12>:00<tmpl_var hourM></div>
            </td>
                                        <td class="day">
                <ul class="eventList">
                    <tmpl_loop events><li>
                    <a href="<tmpl_var eventUrl>"><tmpl_var eventTitle></a>
                    </tmpl_loop></li>
                                </ul>
            </td>
        </tr></tmpl_loop>
                </table>
    </td>
</tr>
</table>

